<div class="timeline-container">
	<div class="timeline-line"></div>
	<div class="timeline">
		<div class="timeline-event has-header">
			<?php run_view('show::single', null, 'Oudbesturenpagina') ?>
		</div>
	<?php foreach ($iter as $bestuur): ?>
		<?php $editable = new ControllerEditable($bestuur->get('page')) ?>
		<div id="<?=markup_format_attribute($bestuur->get('login'))?>" class="bestuur timeline-event has-header">
			<div class="pageheading">
				<?php if (get_policy($model)->user_can_update($bestuur)): ?>
				<div class="controls inline">
					<a href="<?=markup_format_attribute($controller->link_to_update($bestuur)) ?>"><?= image('edit.png', __('bewerken'), __('Bestuur bewerken'))?></a>
				</div>
				<?php endif ?>
				<h1><?=$editable->get_title()?></h1>
			</div>
			<div class="messageBox">
				<?php if ($this->has_bestuursfoto($bestuur))
					printf('<img class="board-photo" src="%s" width="100%%">',
						markup_format_attribute($this->get_bestuursfoto($bestuur)));
				?>
				<?php if ($editable->user_can_update()): ?>
				<div class="controls inline">
					<a href="<?=markup_format_attribute($editable->link_to_update()) ?>"><?= image('edit.png', __('bewerken'), __('Pagina bewerken'))?></a>
				</div>
				<?php endif ?>
				<div class="content">
					<?php
						ob_start();
						$editable->run();
						$html = ob_get_clean();

						echo $this->parse_bestuursfoto($bestuur, $html);
					?>
				</div>
			</div>
		</div>
	<?php endforeach ?>

	<div class="timeline-event full-width">
		<?php run_view('show::single', null, 'Oprichting Cover') ?>
	</div>

	<?php if (get_policy($model)->user_can_create()): ?>
		<div class="timeline-footer">
			<a href="<?=markup_format_attribute($controller->link_to_create())?>" class="add-new-bestuur button"><?=__('Nieuw bestuur toevoegen...')?></a>
		</div>
	<?php endif ?>
	</div>
</div>
