<?php
$commissie_model = get_model('DataModelCommissie');
$commissies = $commissie_model->get();
$values = array();

foreach ($commissies as $commissie)
	$values[$commissie->get('id')] = $commissie->get('naam');
?>
<h1><?=__('Nieuwe pagina toevoegen')?></h1>
<div class="messageBox">
<? if (isset($errors)) { ?>
	<p><span class="error"><?= __('Niet alle velden zijn goed ingevuld') ?></span></p>
<? } ?>

<form name="show_form" action="<?= get_request() ?>" method="post">
	<?= input_hidden('submshownew', 'yes') ?>
	<table class="show_new">
		<col width="100px"><col>
		<?= table_row(label(__('Titel'), 'titel', $errors, true) . ':',
				input_text('titel', null)) ?>
		<?= table_row(label(__('Commissie'), 'owner', $errors, true) . ':',
				select_field('owner', $values, null)) ?>

		<tr><td colspan="2"><?= textarea_field('content', null, $errors, 'formatter', 'markup_format_text') ?></td></tr>
		<tr><td colspan="2" class="submit"><?= input_submit('subm', __('Pagina maken')) ?></td></tr>
	</table>
</form>

</div>