<?php $editable = new ControllerEditable($iter) ?>
<div class="pageheading">
	<?php if($editable->user_can_update()): ?>
	<div class="controls inline">
		<a href="<?=markup_format_attribute($editable->link_to_update()) ?>" class="edit-link"><?=__('Bewerk pagina')?></a>
	</div>
	<?php endif ?>
	<h1><?=markup_format_text($editable->get_title())?></h1>
</div>
<div class="messageBox" id="page_<?=$editable->get_page_id() /* Ugly fix for the companies page, will come up with a solution in the new layout -Martijn */ ?>">
<?php $editable->run(); ?>
</div>
