<h1><?=$this->get_label($iter, __('Nieuwe mededeling plaatsen'), __('Mededeling wijzigen')) ?></h1>
<div class="messageBox announcement">
	<form method="post" action="<?=$this->get_form_action($iter)?>" class="vertical-form" data-partial-selector=".announcement" data-placement-selector=".announcement">
		<div>
			<?=label(__('Plaats namens commissie'), 'committee', $errors, true)?>
			<?=select_field('committee', $this->get_committee_options($iter), $iter->data)?>
		</div>

		<div>
			<?=label(__('Zichtbaar voor'), 'visibility', $errors, true)?>
			<?=select_field('visibility', $this->get_visibility_options(), $iter->data)?>
		</div>		

		<div>
			<?=label(__('Onderwerp'), 'subject', $errors, true)?>
			<?=input_text('subject', $iter->data, 'required', 'required')?>
		</div>

		<div>
			<?=label(__('Bericht'), 'message', $errors, true)?>
			<?=textarea_field('message', $iter->data, $errors, 'rows', 10)?>
		</div>

		<div>
			<button type="submit" class="button"><?=$this->get_label($iter, __('Plaats mededeling'), __('Wijzig mededeling')) ?></button>
			<?php if ($iter->get_id() > 0): ?>
			<a href="<?=markup_format_text($controller->link_to_read($iter))?>"><?=__('Terug naar mededeling')?></a>
			<?php else: ?>
			<a href="<?=markup_format_text($controller->link_to_index())?>"><?=__('Terug naar alle mededelingen')?></a>
			<?php endif ?>
		</div>
	</form>
</div>
