<div class="messageBox bookcee-webshop-call-to-action">
	<a href="<?=htmlspecialchars($webshop_link, ENT_QUOTES)?>" class="button large-button" target="_blank"><?=__('Ga verder naar de BookCee webshop')?></a>
</div>
