<?php
$total = array_reduce($votes, function($carry, $vote) { return $carry + $vote['stemmen']; }, 0);

$total_calc = max(1, $total);
?>
<table class="votes">

<?php foreach ($votes as $vote): ?>
	<?php $percentage = (round(1000 * $vote->get('stemmen') / $total_calc) / 10) ?>
	<tr><td class="pollVote" width="98%"><?=markup_format_text($vote->get('optie')) ?><br>
	<div class="vote"><img height="10px" src="images/leeg.gif" width="<?= max(0, $percentage - 1) ?>%"><?= image('pgsend.png', '', '', 'class="end"') ?></span></td>
	<td class="percentage"><?= $percentage ?>%</td></tr>
<?php endforeach ?>

<tr><td colspan="2"><?= __('Aantal stemmen') ?>:<?= $total ?></td></tr>


<?php if (!get_auth()->logged_in()): ?>
	<tr><td colspan="2"><?=preg_replace_callback('/\{\{(.+?)\}\}/',
			function($match) { return login_link(markup_format_text($match[1])); },
			markup_format_text(__('{{Log in}} om te stemmen.'))) ?></tr>
<?php elseif (isset($enable_new) && $enable_new): ?>
	<tr><td colspan="2"><a class="button" href="forum.php?forum=<?=$iter->get('forum')?>&amp;addpoll=true"><?=__('Nieuwe poll') ?></a></td></tr>
<?php endif ?>
</table>