<?php
$books_per_row = 3;

$policy = get_policy($model);

// Filter the invisible books and reindex the array (required for the for-loops below.)
$children = array_values(array_filter($iter->get_books(), array($policy, 'user_can_read')));

if (!$children || count($children) == 0)
	return;

?>
<div class = "clearfix photobooks">
<?php foreach ($children as $book): ?>
	<div id="book_<?=$book->get_id()?>" class="photobook <?=$book->get('read_status')?>">
		<a href="fotoboek.php?book=<?=$book->get_id()?>">
			<img src="<?=get_theme_data('images/book.png')?>" class="book_thumb">
			<span class="photo-book-title">
				<?=markup_format_text($book->get('titel')) ?>
				<?php
					$subtitle = array();

					if (($num = $book->count_books()) > 0)
						$subtitle[] = sprintf(_ngettext('%d boek', '%d boeken', $num), $num);

					if (($num = $book->count_photos()) > 0)
						$subtitle[] = sprintf(_ngettext('%d foto', '%d foto\'s', $num), $num);
					
					if (count($subtitle) > 0)
						echo ($book->has('titel') ? '<br>' : '') . '(<span class="fotoboek_highlight">' . markup_format_text(implode_human($subtitle)) . '</span>)';
				?>
			</span>
		</a>
		<?php if ($policy->user_can_update($book)): ?>
		<span class="controls">
			<a href="fotoboek.php?view=update_book&amp;book=<?=$book->get_id()?>" title="<?=__('Fotoboek bewerken')?>">
				<i class="fa fa-pencil-square-o"></i>
			</a>
			<?php endif ?>
			<?php if ($policy->user_can_delete($book)): ?>
			<a href="fotoboek.php?view=delete_book&amp;book=<?=$book->get_id()?>" title="<?=__('Fotoboek verwijderen')?>" data-placement-selector="modal" data-partial-selector=".delete-photobook-form">
				<i class="fa fa-trash-o"></i>
			</a>
			<?php endif ?>
			<?php if ($policy->user_can_update($book) && $book->has('visibility')): ?>
				<?php
					switch ($book->get('visibility'))
					{
						case DataModelFotoboek::VISIBILITY_PUBLIC:
							echo '<span class="visibility visibility-public" title="' . __('Publiek') . '">' . __('Publiek') . '</span>';
							break;

						case DataModelFotoboek::VISIBILITY_MEMBERS:
							echo '<span class="visibility visibility-members" title="' . __('Alleen ingelogde leden') . '">' . __('Alleen ingelogde leden') . '</span>';
							break;

						case DataModelFotoboek::VISIBILITY_ACTIVE_MEMBERS:
							echo '<span class="visibility visibility-active-members" title="' . __('Alleen ingelogde actieve leden') . '">' . __('Alleen ingelogde actieve leden') . '</span>';
							break;

						case DataModelFotoboek::VISIBILITY_PHOTOCEE:
							echo '<span class="visibility visibility-photocee" title="' . __('Alleen ingelogde leden van de PhotoCee') . '">' . __('Alleen ingelogde leden van de PhotoCee') . '</span>';
							break;
					}
				?>
			<?php endif ?>
		</span>
	</div>
<?php endforeach ?>
</div>
