<?php if (get_auth()->logged_in()): ?>
	<?php $model = get_model('DataModelFotoboekReacties') ?>
	<?php
		$comments_per_photo = [];

		foreach ($model->get_latest(10) as $comment) {
			if (!isset($comments_per_photo[$comment['foto__id']]))
				$comments_per_photo[$comment['foto__id']] = [];
			$comments_per_photo[$comment['foto__id']][] = $comment;
		}
	?>
	<div class="bar_sep"><?= __('Laatste reacties') ?></div>
	<?php foreach ($comments_per_photo as $comment_group): ?>
		<div class="recent-comment">
			<a href="fotoboek.php?photo=<?= $comment_group[0]->get('foto') ?>" class="thumbnail">
				<img src="<?=markup_format_attribute($comment_group[0]->getIter('foto', 'DataIterPhoto')->get_url(null, 400))?>"
					height="100"
					title="<?= markup_format_attribute(sprintf('%s / %s',
						$comment_group[0]->getIter('fotoboek')->get('titel'),
						$comment_group[0]->has('beschrijving') ? $comment_group[0]->get('beschrijving') : __('geen titel'))) ?>">
			</a>
			<?php $controller = new ControllerFotoboekComments($comment_group[0]->getIter('foto', 'DataIterPhoto')); ?>
			<?php foreach (array_reverse($comment_group) as $iter): ?>
				<?php View::byName('fotoboekreacties', $controller)->single(compact('model', 'iter')) ?>
			<?php endforeach ?>
		</div>
	<?php endforeach ?>
<?php endif ?>