<?php
if (!$iter)
	return;

$policy = get_policy($model);
?>
<div class="bar">
	<div class="photos-navigation navigation">
		<?php if (($prev = $iter->get_previous_book()) && $policy->user_can_read($prev)): ?>
			<a href="fotoboek.php?book=<?=$prev->get_id()?>" class="previous">
				<?=markup_format_text($prev->get('titel')) ?>
			</a>
		<?php endif ?>
		<?php if (($parent = $iter->get_parent()) && $policy->user_can_read($parent)): ?>
			<a href="fotoboek.php?book=<?=$parent->get_id()?>" class="up">
				<?=markup_format_text($parent->get('titel')) ?>
			</a>
		<?php endif ?>
		<?php if (($next = $iter->get_next_book()) && $policy->user_can_read($next)): ?>
			<a href="fotoboek.php?book=<?=$next->get_id() ?>" class="next">
				<?=markup_format_text($next->get('titel')) ?>
			</a>
		<?php endif ?>
	</div>
</div>
