<h2 class="photo-title" <?php if (get_policy($book->model)->user_can_update($book)) printf('data-update-link="fotoboek.php?book=%s&amp;photo=%d&amp;view=update_photo"', $book->get_id(), $iter->get_id()) ?>><?=markup_format_text($iter->get('beschrijving')) ?></h2>

<div class="fotoboek_foto">
<?php
	$prev = $book->get_previous_photo($iter, 1);
	$next = $book->get_next_photo($iter, 1);
?>
<div class="photo <?=$iter['orientation']?>">
	<nav class="photo-navigation navigation">
		<?php if (count($prev) > 0): ?>
		<a href="fotoboek.php?book=<?=$book->get_id()?>&amp;photo=<?= $prev[0]->get_id() ?>" class="prev-button previous" title="<?= markup_format_attribute(__('Ga naar vorige foto')) ?>">
			<?=__('Vorige')?>
		</a>
		<?php endif ?>

		<?php if (count($next) > 0): ?>
		<a href="fotoboek.php?book=<?=$book->get_id()?>&amp;photo=<?= $next[0]->get_id() ?>" class="next-button next" title="<?= markup_format_attribute(__('Ga naar volgende foto')) ?>">
			<?=__('Volgende')?>
		</a>
		<?php endif ?>
	</nav>
	
	<div id="photo" data-id="<?=$iter->get_id()?>" <?php if (get_policy('DataModelFotoboekFaces')->user_can_create()) printf('data-create-action="%s"', markup_format_attribute($faces_controller->link_to_create())) ?>>
		<figure class="full-size-photo <?=$iter['orientation']?>">
			<img
				src="<?=markup_format_attribute($iter->get_url(1600, 1600)) ?>"
				data-preview="<?=markup_format_attribute($iter->get_url(null, 400)) ?>"
				<?=vsprintf('width="%d" height="%d"', $iter->get_scaled_size(820, 820))?>>
		</figure>

		<?php foreach (array_filter($iter['faces'], [get_policy('DataModelFotoboekFaces'), 'user_can_read']) as $face): ?>
		<div id="face_<?=$face->get_id()?>" class="face <?=$face->has('lid_id') || $face->has('custom_label') ? 'tagged' : 'untagged' ?> <?php if ($face->has('lid_id') && $face->get('lid_id') == logged_in('id')) echo 'me' ?>" style="<?=vsprintf("left: %0.2F%%; top: %0.2F%%; width: %0.2F%%; height: %0.2F%%;", $face->get_position())?>"
			<?php if (get_policy($face->model)->user_can_delete($face)) printf('data-delete-action="%s"',
				markup_format_attribute($faces_controller->link_to_delete($face))) ?>
			<?php if (get_policy($face->model)->user_can_update($face)) printf('data-update-action="%s"',
				markup_format_attribute($faces_controller->link_to_update($face))) ?>>
			<!-- name label (and hidden update form) -->
			<div class="tag-label">
				<?php if ($face->has('lid_id')): $lid = $face->getIter('lid'); ?>
				<a href="profiel.php?lid=<?=$lid->get_id()?>" class="name"><?=markup_format_text(member_full_name($lid, BE_PERSONAL))?></a>
				<?php elseif ($face->has('custom_label')): ?>
				<a class="name" href="#"><?=markup_format_text($face->get('custom_label'))?></a>
				<?php elseif (get_policy($face->model)->user_can_update($face)): ?>
				<a class="name" href="#"><?=__('Klik om te taggen')?></a>
				<?php else: ?>
				<a class="name" href="#"><?=__('Niet getagged')?></a>
				<?php endif ?>
			</div>
		</div>
		<?php endforeach ?>
	</div>	
</div>
</div>
<script type = "text/javascript">
	$(document).ready(function(){
		$(document).on('keyup.nav', function(event){
			// Only catch unspecific input (so no form elements)
			if (['TEXTAREA', 'INPUT'].indexOf(event.target.nodeName) === -1)
				keyPress(event);
		});
	});
	
	function keyPress(event)
	{
		if(event.keyCode == 37 && $(".prev-button").attr("href") != undefined)
			window.location.href = $(".prev-button").attr('href');
		else if (event.keyCode == 39 && $(".next-button").attr("href") != undefined)
			window.location.href = $(".next-button").attr('href');
		else if (event.keyCode == 38)
			window.location.href = $("#path a:last-child").attr("href");
	}
</script>
