<?php if (logged_in()): ?>
<div class="bar_sep"><?= __('Willekeurige foto\'s') ?></div>
<ul class="selection-of-photos">
	<?php foreach ($model->get_random_photos(3) as $photo): ?>
	<li>
		<a id="random_photo_<?=$photo->get_id()?>" href="fotoboek.php?photo=<?=$photo->get_id()?>">
			<img src="<?=markup_format_attribute($photo->get_url(0, 400))?>" <?=vsprintf('width="%d" height="%d"', $photo->get_scaled_size(null, 150))?>>
			<span class="photo-caption">
				<span class="photo-book-title"><?=markup_format_text($photo->get('fotoboek_titel'))?></span>
				<span class="photo-book-year"><?=sprintf('%d', $photo->get('fotoboek_jaar'))?></span>
			</span>
		</a>
	</li>
	<?php endforeach ?>
</ul>
<?php endif ?>