<h1><?=__('Fotoboek downloaden') ?></h1>
<div class="messageBox">
	<form method="get" action="fotoboek.php">
		<input type="hidden" name="book" value="<?=$iter->get_id()?>">
		<p><?=sprintf(__('Weet je heel zeker dat je het fotoboek <a href="%s">%s</a> en alle sub-boeken wil downloaden?'), 'fotoboek.php?book=' . $iter->get_id(), markup_format_text($iter['titel']))?></p>
		<p><?=sprintf(__('Let op dat je dan %d originele foto\'s download. Dat is in totaal <strong>%s</strong> aan fotos!'), $total_photos, human_filesize($total_file_size)) ?></p>

		<button type="submit" class="button" name="view" value="download_book"><?=markup_format_text(sprintf(__('Download %s als ZIP (%s)'), $iter['titel'], human_filesize($total_file_size)))?></button>

		<a href="fotoboek.php?book=<?=$iter->get_id()?>"><?=markup_format_text(sprintf(__('Terug naar %s'), $iter['titel']))?></a>
	</form> 
</div>
