<?php
$photo_classes = array('messageBox');

$like_model = get_model('DataModelFotoboekLikes');
if (get_auth()->logged_in() && $like_model->is_liked($iter, get_identity()->get_member()->get_id()))
	$photo_classes[] = 'liked';

?>
<h1><?= __('Fotoboek') . ' :: ' . __('Foto') ?></h1>

<div id="foto" data-photo-id="<?=$iter->get_id()?>" class="<?=implode(' ', $photo_classes)?>">

	<div class="photo-page-header">
		<?php $this->render_partial('path', array('book' => $book, 'photo' => $iter, 'model' => $model)) ?>
	</div>

	<?php $this->render_partial('photo', compact('model', 'iter', 'book', 'faces_controller', 'likes_controller')) ?>

	<?php $this->render_partial('slides', compact('model', 'iter', 'book')) ?>

	<div class="photo-meta">
		<?php $this->render_partial('photo_faces', compact('model', 'iter', 'faces_controller')) ?>

		<?php $this->photo_controls(compact('model', 'iter', 'book', 'likes_controller')) ?>

		<?php $this->photo_comments([
			'controller' => $comments_controller,
			'model' => $comments_controller->model(),
			'iter' => $iter['comments']
		]) ?>
	</div>

</div>
