<?php $view = View::byName('fotoboekreacties', $controller) ?>
<div class="photo-comments">
<?php if (!$iter || count($iter) === 0): ?>
	<p><?= __('Er zijn nog geen reacties') ?></p>
<?php else: ?>
	<?php foreach ($iter as $reactie): ?>
		<?php $view->single(['iter' => $reactie, 'model' => $model, 'controller' => $controller]) ?>
	<?php endforeach ?>
<?php endif ?>

<?php if (get_policy($model)->user_can_create()): ?>
	<?php $view->form([
		'model' => $model,
		'controller' => $controller,
		'iter' => new DataIterReactie($model, -1, ['auteur' => get_identity()->get('id')]),
		'errors' => []]) ?>
<?php endif ?>
</div>