<?php if (logged_in()): ?>
<div class="photo-controls">
	<?php
		$like_model = get_model('DataModelFotoboekLikes');
		$likes = count($like_model->get_for_photo($iter));
		$liked = logged_in() && $like_model->is_liked($iter, logged_in('id'));
	?>
	<form class="like-form" method="post" action="fotoboek.php?photo=<?=$iter->get_id()?>&amp;module=likes">
		<input type="hidden" name="action" value="toggle">
		<button type="submit" class="like-button"
			title="<?=markup_format_attribute($liked ? __('Haal markering als favoriet weg') : __('Markeer als favoriet')) ?>"
			data-title="<?=markup_format_attribute(json_encode([__('Haal markering als favoriet weg'), __('Markeer als favoriet')]))?>"
			><span class="like-count"><?=$likes?></span></button>
	</form>
	
	<a href="fotoboek.php?photo=<?=$iter->get_id()?>&amp;view=download" class="photo-download-link"><?=__('Download')?></a>
	
	<?php if (array_one($iter['faces'], function($face) {
			return $face->has('lid_id') && $face['lid_id'] == logged_in('id');
		})): ?>
	<a href="fotoboek.php?photo=<?=$iter->get_id()?>&amp;module=privacy" data-placement-selector="modal" data-partial-selector=".privacy-preference-form" class="photo-privacy-link"><?=__('Zichtbaarheid')?></a>
	<?php endif ?>
</div>
<?php endif ?>
