<h1><?=__('Zichtbaarheid foto')?></h1>
<div class="messageBox">
	
	<!--
	<div class="photo">
		<img src="<?=markup_format_attribute(strip_protocol($photo->get('url'))) ?>" <?=($size = $photo->get_size()) ? vsprintf('width="%d" height="%d"', $size) : '' ?> class="full-size-photo">
	</div>
	-->

	<form class="privacy-preference-form vertical-form" method="post" action="fotoboek.php?photo=<?=$photo->get_id()?>&amp;module=privacy">
		<div>
			<label><?=__('Zichtbaarheid foto')?></label>
			<ul class="option-group">
				<li>
					<input type="radio" id="privacy-visibility-visible" name="visibility" value="visible" <?=$visibility == 'visible' ? 'checked' : ''?>>
					<label for="privacy-visibility-visible">
						<i class="fa fa-eye"></i>
						<?=__('Toon in het overzicht van mij') ?>
					</label>
				</li>
				<li>
					<input type="radio" id="privacy-visibility-hidden" name="visibility" value="hidden" <?=$visibility == 'hidden' ? 'checked' : ''?>>
					<label for="privacy-visibility-hidden">
						<i class="fa fa-eye-slash"></i>
						<?=__('Laat weg uit het overzicht van mij') ?>
					</label>
				</li>
			</ul>
		</div>
		<div>
			<button type="submit" class="button"><?=__('Zichtbaarheid instellen')?></button>
		</div>
	</form>
</div>
