<?php if ($leden = $iter->get_members()): ?>
<div class="commissie-members">
	<h3 class="alignCenter"><?=__('Leden')?></h3>
	<ul>
	<?php foreach ($leden as $lid): ?>
		<li>
			<a href="profiel.php?lid=<?=$lid->get('id')?>" class="commissie-member profile-widget round">
				<img src="foto.php?lid_id=<?=$lid->get('id')?>&amp;format=square&amp;width=200" width="100">
				<span class="name"><?=markup_format_text(member_full_name($lid, BE_PERSONAL)) ?></span>
			</a>
		</li>
	<?php endforeach ?>
		</ul>
</div>
<?php endif ?>
