<h1><?=$this->get_label($iter, __('Nieuwe werkgroep maken'), __('Werkgroep wijzigen')) ?></h1>
<div class="messageBox">
	<form method="post" action="<?=$this->get_form_action($iter)?>" class="vertical-form">
		<div>
			<?=label(__('Werkgroepnaam'), 'naam', $errors, true)?>
			<?=input_text('naam', $iter->data, 'required', 'required')?>
		</div>

		<div>
			<?=label(__('Interne naam'), 'login', $errors, true)?>
			<?=input_text('login', $iter->data, 'required', 'required')?>
			<p><?=__('Je wil de interne naam alleen veranderen als je een verdomd goede reden hebt. Veel interne zaken (o.a. de commissiefoto en het e-mailadres) worden via deze naam aan de werkgroep gekoppeld.')?></p>
		</div>
		
		<div>
			<?=input_checkbox('hidden', $iter->data, 1)?>
			<?=label(__('Deze werkgroep is verborgen'), 'hidden', $errors)?>
			<p><?=__('Verborgen commissies worden niet getoond in het overzicht of op het scherm maar zijn soms wel handig om een groep bepaalde te geven op de website.')?></p>
		</div>
		
		<div class="committee-members">
			<table>
				<thead>
					<tr>
						<th><?=__('Lid')?></th>
						<th><?=__('Functie')?></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<?php if ($iter->has_id()) foreach ($iter->get_members() as $member): ?>
					<tr>
						<td>
							<?=markup_format_text(member_full_name($member, IGNORE_PRIVACY))?>
							<input type="hidden" name="members[<?=$member->get_id()?>]" value="<?=markup_format_attribute($member->get('functie'))?>">
						</td>
						<td>
							<button type="button" class="button remove-button" title="<?=markup_format_attribute(__('Verwijder lid uit werkgroep'))?>">&times;</button>
						</td>
					</tr>
					<?php endforeach ?>
				</tbody>
				<tfoot>
					<tr>
						<td><input type="text" class="committee-member-name" placeholder="<?=__('Naam')?>"></td>
						<td><button type="button" class="button add-button"><?=__('Toevoegen')?></button></td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div>
			<button type="submit" class="button"><?=$this->get_label($iter, __('Maak werkgroep aan'), __('Wijzig werkgroep')) ?></button>
			<?php if ($iter->has_id()): ?>
			<a href="<?=markup_format_attribute($controller->link_to_read($iter))?>"><?=__('Terug naar werkgroep')?></a>
			<?php else: ?>
			<a href="<?=markup_format_attribute($controller->link_to_index())?>"><?=__('Terug naar alle werkgroepen')?></a>
			<?php endif ?>
			<?php if ($iter->has_id() && get_policy($model)->user_can_delete($iter)): ?>
			<a href="<?=markup_format_attribute($controller->link_to_delete($iter))?>" class="delete-link"><?=__('Verwijder werkgroep')?></a>
			<?php endif ?>
		</div>
	</form>
</div>
<script>
jQuery(function($) {
	var $form = $('form .committee-members')
		$member = $form.find('input.committee-member-name'),
		$add = $form.find('button.add-button');

	$member.autocompleteAlmanac({
		select: function(event, ui) {
			$(this).data('member-id', ui.item.id).val(ui.item.name);
			return false;
		}
	});

	$add.click(function(e) {
		if (!$member.data('member-id'))
			return;

		var $row = $('<tr>');

		$('<td>').text($member.val())
			.append($('<input type="hidden">')
				.prop('name', 'members[' + $member.data('member-id') + ']')
				.val('Algemeen lid'))
			.appendTo($row);

		$('<button type="button">')
			.addClass('remove-button button')
			.html('&times;')
			.appendTo($('<td>').appendTo($row));

		$form.find('table tbody').append($row);

		$member.data('member-id', '').val('').focus();
	});

	$form.on('click', '.remove-button', function(e) {
		$(this).closest('tr').remove();
	});
});
</script>
