<div class="pageHeading">
	<?php if (get_policy($model)->user_can_create()): ?>
		<div class="controls inline"><a href="<?=$controller->link_to_create()?>" class="create-link"><?= __('Nieuwe werkgroep') ?></a></div>
	<?php endif ?>
	<h1><?= __('Werkgroepen') ?></h1>
</div>
<div class="messageBox working-groups">
	<?php foreach ($iter as $workinggroup): ?>
	<section class="working-group">
		<h3><a href="<?=$controller->link_to_read($workinggroup)?>" class="link"><?=markup_format_text($workinggroup['naam'])?></a></h3>
		<p><?= $this->get_summary($workinggroup) ?></p>
		<ul>
		<?php foreach ($workinggroup->get_members() as $member): ?>
			<li>
				<a href="profiel.php?lid=<?=$member->get_id()?>">
					<img src="foto.php?lid_id=<?=$member->get_id()?>&amp;format=square&amp;width=60">
					<?=markup_format_text(member_full_name($member, BE_PERSONAL))?>
				</a>
			</li>
		<?php endforeach ?>
		</ul>
	</section>
	<?php endforeach ?>
</div>
