<div class="pageheading">
	<?php if (get_policy($model)->user_can_create()): ?>
	<div class="controls inline">
		<a href="<?=markup_format_attribute($controller->link_to_create())?>" id="add-sticker-button" class="create-link" data-placement-selector="modal" data-partial-selector=".add-sticker-form">
			<?=__('Nieuwe sticker')?>
		</a>
	</div>
	<?php endif ?>
	<h1><?=__('Stickerkaart')?></h1>
</div>

<div id="sticker-map">
	<div id="sticker-info-window">
		<a href="" class="sticker-photo" target="_new">
			<img src="">
		</a>
		<h3 class="sticker-label"></h3>
		<small class="sticker-user"><?=__('Geplakt door')?> <a href="#"></a></small>
		<p class="sticker-description"></p>
		<div class="controls">
			<form method="post" action="" class="remove-sticker-form">
				<button type="submit" class="button"><?=__('Verwijder sticker')?></button>
			</form>

			<form method="post" action="" enctype="multipart/form-data" class="add-photo-form">
				<div class="file-upload-button button">
					<span><?=__('Kies foto') ?>&hellip;</span>
					<input type="file" name="photo" accept="image/jpeg" title="<?=__('Voeg een foto toe bij deze sticker. Alleen JPEG-plaatjes mogen.')?>">
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN22N-bX3aSaGfy9w9-oeUsnFRlB-1FiI&amp;sensor=false"></script>
<script type="text/javascript">
	var stickers = <?=$this->encodeStickers($iter)?>;

	var highlightedStickerId = /sticker=(\d+)/.test(document.location.href)
		? document.location.href.match(/sticker=(\d+)/)[1]
		: null;

	var removeLink = <?=json_encode($controller->link_to_delete(new DataIter($model, 'XXX', [])))?>;

	var addPhotoLink = <?=json_encode($controller->link_to_add_photo(new DataIter($model, 'XXX', [])))?>;

	// Initialize the sticker map
	$(function() {
		var canvas = $('#sticker-map');

		var description = $('#sticker-info-window').detach();

		var mapOptions = {
			center: new google.maps.LatLng(<?=$this->getLocation() ?>),
			zoom: 12,
			streetViewControl: false
		};

		var map = new google.maps.Map(canvas.get(0), mapOptions);

		var infoWindow = new google.maps.InfoWindow({
			content: description.get(0),
			maxWidth: 300
		});

		canvas.data('google-map', map);

		description.find('input[type=file]').change(function(e) {
			if (this.value)
				this.form.submit();
		});

		description.find('.remove-sticker-form').submit(function(e) {
			if (!confirm('Do you really want to delete this sticker?'))
				e.preventDefault();
		})

		// Place a marker for each of the stickers
		$.each(stickers, function() {
			var sticker = this;

			var marker = new google.maps.Marker({
				title: sticker.label,
				position: new google.maps.LatLng(sticker.lat,sticker.lng),
				map: map
			});

			var showInfoWindow = function() {
				// Fill in the fields
				description.find('input[name=id]').val(sticker.id);
				description.find('.sticker-label').text(sticker.label);
				description.find('.sticker-description').text(sticker.omschrijving);
				description.find('.controls').toggle(sticker.editable);
				description.find('.sticker-photo').toggle(sticker.foto != null);
				description.find('.sticker-user').toggle(sticker.toegevoegd_door_naam != null);
				description.find('.remove-sticker-form').prop('action', removeLink.replace(/XXX/, sticker.id));
				description.find('.add-photo-form').prop('action', addPhotoLink.replace(/XXX/, sticker.id));

				// If it is known who added this sticker, show the 'by-line'
				if (sticker.toegevoegd_door_naam)
					description.find('.sticker-user > a')
						.attr('href', 'profiel.php?lid=' + sticker.toegevoegd_door_id)
						.text(sticker.toegevoegd_door_naam);

				if (sticker.foto) {
					description.find('.sticker-photo').attr('href', sticker.foto);
					description.find('.sticker-photo > img').attr('src', sticker.foto + '&thumbnail=true');
				}

				// Pop open the window at the place of the marker
				infoWindow.open(map, marker);
			};

			// If this is the newly added marker, animate it
			if (highlightedStickerId == sticker.id)
			{
				// Remove the marker from the map (so it doesn't already show up)
				marker.setMap(null); 

				// When the map is loaded, drop the marker
				var listener = google.maps.event.addListener(map, 'tilesloaded', function() {
					marker.setMap(map);
					marker.setAnimation(google.maps.Animation.DROP);

					// Also open up the info window
					setTimeout(showInfoWindow, 500);

					// Remove this listener so it won't drop a second time
					google.maps.event.removeListener(listener);
				});
			}

			// Also, when clicking a marker, fill the info window and open it.
			google.maps.event.addListener(marker, 'click', showInfoWindow);
		});
	});
</script>
