ul.commissie-index {
	list-style: none;
	margin: 0;
	padding: 0;
}

.commissie-index .commissie {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 150px;
	margin: 10px;
}

.commissie-index .commissie .link {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #c60c30;
	background-position: 50% 50%;
	overflow: hidden;
	border-radius: 4px;
	z-index: 1;
}

.commissie-index .commissie .link .thumbnail {
	width: 100%;
	height: auto;
}

.commissie-index .commissie .link .overlay {
	display: block;
	padding: 2px 8px;
	position: absolute;
	top: 114px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	transition: all 150ms ease-in-out;
}

.commissie-index .commissie .link:hover .overlay {
	top: 0;
	bottom: 0;
}

.commissie-index .commissie .name {
	display: block;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 8px;
}

.commissie-index .commissie .summary {
	display: block;
	font-weight: normal;
	line-height: 20px;
}

.commissie-index .commissie .vacancy-badge {
	position: absolute;
	top: 0px;
	left: -10px;
	width: 120px;
	height: 40px;
	line-height: 20px;
	padding: 4px;
	text-align: center;
	border-radius: 4px;
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
	z-index: 2;
	background: #c60c30;
	color: #fff;
	box-shadow: 0 0 0 3px white, 0 0 0 6px #c60c30;
}

.commissie-index .commissie a.vacancy-badge:hover {
	text-decoration: underline;
}

.committee-vacancy {
	padding: 10px;
	margin: 6px 6px 16px 6px;
	line-height: 22px;
	font-size: 14px;
	border-radius: 4px;
	background: #c60c30;
	color: #fff;
	box-shadow: 0 0 0 3px white, 0 0 0 6px #c60c30;
}

.committee-vacancy .profile-picture {
	float: left;
	margin: -4px 10px -4px -4px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.committee-contact {
	padding: 15px;
	text-align: center;
}

.committee-navigation {
	margin-top: -20px;
	height: 20px;
	position: relative;
}

