.tab-container {
	display: table;
	position: relative;
	width: 100%;
}

.tab-container:after {
	content: '';
	display: block;
	clear:both;
}

.tab-sidebar {
	display: table-cell;
	vertical-align: top;
	width: 200px;
	border-right: 1px solid #ccc;
}

.tab-sidebar .profile-widget {
	width: 100%;
	margin-bottom: 10px;
}

.tab-sidebar .profile-widget > img,
.tab-sidebar .profile-widget > a > img {
	width: 125px;
	height: 125px;
}

.tab-sidebar .profile-widget > a[data-image-popup]:after {
	content: '';
	border: 1px solid rgba(32, 32, 32, 0.25);;
	position: absolute;
	top: 0;
	width: 125px;
	height: 125px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 50%;
	box-sizing: border-box;
}


ul.nav-tabs {
	list-style: none;
	margin: 0;
}

ul.nav-tabs > li > a {
	display: block;
	padding: 10px 4px;
}

ul.nav-tabs > li.active {
	background: #ddd;
	color: white;
}

ul.nav-tabs.vertical > li:not(:first-child) {
	border-top: 1px solid #ccc;
} 

ul.nav-tabs > li.fa-icon > a:after {
	padding-left: 4px;
	color: #999;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

ul.nav-tabs > li.icon-system > a:after {
	content: "\f013";
}

ul.nav-tabs > li.icon-public > a:after {
	content: "\f0ac";
}

.tab-content {
	display: table-cell;
	vertical-align: top;
	margin-left: 200px;
	padding: 10px;
}

.tab-content section {
	margin-bottom: 20px;
}

.tab-content > .tab-pane {
	display: none;
}

.tab-content > .tab-pane.active {
	display: block;
}

.aligned-list-section .privacy {
	border-spacing: 0;
    border-collapse: collapse;
	margin-left: -140px;
	width: 100%;
}

.aligned-list-section .privacy th {
	border: none;
}

.aligned-list-section .privacy td {
	text-align: center;
}

.aligned-list-section .privacy > thead > tr > th {
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.aligned-list-section .privacy th,
.aligned-list-section .privacy td {
	border-right: 1px solid #ccc;
}

.aligned-list-section .privacy > tbody > tr > th {
	width: 130px;
	font-weight: normal;
	color: #000;
	text-align: right;
	padding-right: 10px;
	line-height: 18px;
}

.aligned-list-section .privacy > tbody > tr:hover > * {
	background: #eee;
}

.aligned-list-section .privacy td input[type=radio] {
	cursor: pointer;
}

.tab-content .loading-indicator {
	display: block;
	text-align: center;
	font-size: 24px;
	color: #999;
	position: absolute;
	top: 50%;
	left: 200px;
	right: 0;
	margin-top: -12px;
}

.vcard-link {
	position: absolute;
	right: 0;
	top: 0;
}

.vcard-link > i {
	margin-right: 4px;
}

.vcard-link.button {
	margin: 0;
}