<h1><?=__('Sleutel verwijderen') ?></h1>
<div class="messageBox">
	<form method="post" action="<?=markup_format_text($controller->link_to_delete($iter))?>" class="vertical-form">
		<p><?=sprintf(__('Weet je heel zeker dat je de sleutel <em>%s</em> wil verwijderen?'),
			markup_format_text($iter->get('key')))?></p>
		<div>
			<button type="submit" class="button"><?=__('Verwijder sleutel') ?></button>
			<a href="<?=markup_format_text($controller->link_to_read($iter))?>"><?=__('Terug naar instellingen')?></a>
		</div>
	</form>
</div>
