<?php
$days = get_days();
$months = get_months();
?>
<div class="comment" id="comment<?=$iter->get_id()?>">
	<div class="comment-meta">
		<span class="number-of-likes" <?=
			$iter['likes'] == 0
				? ''
				: sprintf(' title="%s"', 
					markup_format_attribute(
						sprintf(
							_ngettext('%s vindt dit leuk', '%s vinden dit leuk', $iter['likes']), 
							implode_human(
								array_map('member_first_name', $iter['liked_by'])
							)
						)
					)
				); ?>><?=__N('%d like', '%d likes', $iter['likes'])?></span>
		
		<span class="timestamp"><?= sprintf('%s %d %s, %02d:%02d', $days[$iter['dagnaam']], $iter['datum'], $months[$iter['maand']], $iter['uur'], $iter['minuut']) ?></span>
	</div>

	<a href="profiel.php?lid=<?=$iter['auteur']?>" class="comment-author">
		<img src="foto.php?lid_id=<?=$iter['auteur']?>&amp;format=square&amp;width=200" width="150">
		<span class="name"><?= markup_format_text(member_full_name($iter['auteur'], BE_PERSONAL)) ?></span>
	</a>
		
	<div class="comment-message">
		<?= markup_parse($iter->get('reactie')) ?>
	</div>

	<ul class="actions">
		<?php if (get_auth()->logged_in()): ?>
			<?php if ($iter->is_liked_by(get_identity()->get_member())): ?>
				<li>
					<form method="post"
						action="<?=markup_format_attribute($controller->link_to_like($iter))?>"
						data-partial-selector="#comment<?=$iter['id']?>"
						data-placement-selector="#comment<?=$iter['id']?>">
						<input type="hidden" name="action" value="unlike">
						<button type="submit" class="link comment-like-button">Unlike</button>
					</form>
				</li>
			<?php else: ?>
				<li>
					<form method="post"
						action="<?=markup_format_attribute($controller->link_to_like($iter))?>"
						data-partial-selector="#comment<?=$iter['id']?>"
						data-placement-selector="#comment<?=$iter['id']?>">
						<input type="hidden" name="action" value="like">
						<button type="submit" class="link comment-like-button">Like</button>
					</form>
				</li>
			<?php endif ?>
		<?php endif ?>
		<?php if (get_policy($model)->user_can_update($iter)): ?>
		<li><a href="<?=markup_format_attribute($controller->link_to_update($iter))?>"
			data-partial-selector="#comment-form"
			data-placement-selector="#comment<?=$iter['id']?>"><?=__('Wijzig')?></a></li>
		<?php endif ?>
		<?php if (get_policy($model)->user_can_delete($iter)): ?>
		<li><a href="<?=markup_format_attribute($controller->link_to_delete($iter))?>"
			data-partial-selector=".replyBox"
			data-placement-selector="modal"><?=__('Verwijder')?></a></li>
		<?php endif ?>
	</ul>
</div>
