<?php
try {
	$commissie_model = get_model('DataModelCommissie');
	$commissie = $commissie_model->get_iter($iter->get('commissie'));
} catch (DataIterNotFoundException $e) {
	$commissie = null;
}

$policy = get_policy($model);

$date = strtotime($iter->get('van'));
?>

<?php if ($iter->is_proposal()): ?>
	<div class="warning-section">
		<?php if ($iter['replacement_for'] == 0): ?>
			<p><?=__('Dit agendapunt is nog niet gepubliceerd. Het moet nog worden goedgekeurd door Bestuur.')?></p>
		<?php else: ?>
			<p><?=__('Deze versie van dit agendapunt is nog niet gepubliceerd.')?></p>
		<?php endif ?>
	</div>
<?php endif ?>

<?php if (count($proposals = $iter->get_proposals()) > 0 && $policy->user_can_read($proposals[0])): ?>
	<div class="warning-section">
		<p><?=sprintf(__('Er is <a href="%s">een wijziging op dit agendapunt</a> dat nog niet gepubliceerd is.'), $proposals[0]->get_absolute_url()) ?></p>
	</div>
<?php endif ?>

<div class="event-header">
	<!-- Facebook Cover photo (or fallback photo) -->
	<?php if ($cover_photo = $this->get_cover_photo($iter)): ?>
	<div class="event-cover-photo">
		<!-- On Facebook this image is shown in an 784x295 area -->
		<div style="<?= sprintf('left: -%0.2F%%; top: -%0.2F%%', $cover_photo['x'], $cover_photo['y']) ?>">
			<img src="<?=$cover_photo['src']?>" style="position: absolute; left: 0; right:0; top:0">
		</div>
	</div>
	<?php endif ?>

	<!-- Calendar icon -->
	<div class="calendar-icon">
		<span class="month"><?=strftime('%b', $date)?></span>
		<span class="day"><?=strftime('%d', $date)?></span>
	</div>
	
	<!-- Event name -->
	<h1><?= $iter->get('kop') ?></h1>

	<!-- Facebook attendees -->
	<?php if ($attendees = $this->get_attending($iter)): ?>
	<ul class="event-attendees">
	<?php foreach ($attendees as $attendee): ?>
		<li>
			<a href="https://facebook.com/<?=$attendee['id']?>" target="_new">
				<img src="https://graph.facebook.com/<?=$attendee['id']?>/picture/?width=100&amp;height=100">
				<span class="name"><?=markup_format_text($attendee['name']) ?></span>
			</a>
		</li>
	<?php endforeach ?>
	</ul>
	<?php endif ?>

	<!-- Facebook RSVP status -->
	<?php if (get_config_value('enable_facebook_rsvp', false)): ?>
		<?php if ($rsvp_status = $this->get_rsvp_status($iter)): ?>
		<div class="rsvp-status-button dropdown-button">
			<span class="current button" tabindex="0"><?=$this->get_rsvp_status_text($rsvp_status)?></span>
			<form method="post">
				<input type="hidden" name="agenda_id" value="<?=$iter->get('id')?>">
				<ul class="dropdown-menu">
					<li><button type="submit" name="rsvp_status" value="attending"><?=__('Aanwezig')?></button></li>
					<li><button type="submit" name="rsvp_status" value="maybe"><?=__('Misschien')?></button></li>
					<li><button type="submit" name="rsvp_status" value="declined"><?=__('Gaat niet')?></button></li>
				</ul>
			</form>
		</div>
		<?php elseif ($iter->get('facebook_id')): ?>
		<div class="rsvp-status-button">
			<a href="<?=get_facebook()->getCoverLoginURL()?>" class="button"><?=__('Koppel Facebook')?></a>
		</div>
		<?php endif?>
	<?php elseif (get_config_value('enable_facebook', false) && $iter->get('facebook_id')): ?>
	<div class="rsvp-status-button">
		<a href="https://www.facebook.com/events/<?=rawurlencode($iter->get('facebook_id'))?>/" target="_blank" class="button"><?=__('Toon op Facebook')?></a>
	</div>
	<?php endif ?>
</div>

<!-- Actual event -->
<div class="messageBox">
<p><?= __('Datum & Tijd') ?>: <?= agenda_period_for_display($iter, 'van') ?><br/>
<? if ($iter->get('locatie')) { ?>
	<?= __('Locatie')?>: <?= markup_format_text($iter->get('locatie')) ?><br/>
<? } ?>
</p>

<!-- If the event is organised externally, add a clear notice to it -->
<?php if ($iter->get('extern')): ?>
	<p><?= __('Deze activiteit wordt niet georganiseerd door Cover zelf.') ?></p>
<?php endif ?>

<!-- Formatted description of the event -->
<p><?= markup_parse($iter->get('beschrijving')) ?></p>

<!-- Some meta-data -->
<?php if ($commissie): ?>
<p><span class="smaller"><?= __('Geplaatst door') ?>: <a href="commissies.php?commissie=<?=rawurlencode($commissie->get('login')) ?>"><?=markup_format_text($commissie->get('naam')) ?></a></span></p>
<?php endif ?>

<!-- Actions applicable to the event -->
<ul class="actions">
	<li><a href="agenda.php"><?= __('Volledige agenda') ?></a></li>
	<?php if (get_policy($this->model)->user_can_delete($iter)): ?>
	<li><a href="<?=markup_format_attribute($controller->link_to_delete($iter))?>" onClick="return confirm('<?= __('Weet je zeker dat je dit agendapunt wilt verwijderen?') ?>');"><?= __('Verwijder') ?></a></li>
	<?php endif ?>
	<?php if (get_policy($this->model)->user_can_update($iter)): ?>
	<li><a href="<?=markup_format_attribute($controller->link_to_update($iter))?>"><?= __('Wijzig') ?></a></li>
	<?php endif ?>
</ul>
</div>
