<div class="pageHeading">
	<?php if (get_policy($model)->user_can_create()): ?>
		<div class="controls inline"><a href="<?=$controller->link_to_create()?>" class="create-link"><?= __('Nieuw agendapunt') ?></a></div>
	<?php endif ?>
	<h1><?= $this->get_title() ?></h1>
</div>

<div class="messageBox">
<?php if (!logged_in()): ?>
	<p class="italic"><?= __('Log in om eventuele afgeschermde agendapunten te bekijken.') ?></p>
<?php endif ?>

<div class="navigation">
	<?php if (($prev_year = $this->get_previous_year()) !== null): ?>
	<a href="agenda.php?year=<?=$prev_year?>" class="previous">
		<?printf(__('Toon alles uit het jaar %d-%d'), $prev_year, $prev_year + 1)?>
	</a>
	<?php endif ?>

	<?php if (($next_year = $this->get_next_year()) !== null): ?>
	<a href="agenda.php?year=<?=$next_year?>" class="next">
		<?printf(__('Toon alles uit het jaar %d-%d'), $next_year, $next_year + 1)?>
	</a>
	<?php elseif (isset($_GET['year'])): ?>
	<a href="agenda.php" class="next">
		<?=__('Toon actuele agenda')?>
	</a>	
	<?php endif ?>
</div>

<table class="agenda" style="background-color: #000;">

<?php 
if (!isset($iter))
	$iter = $this->get_paged_agendapunten();

// Only show agenda items in the list that the user can read.
$iter = array_filter($iter, [get_policy($model), 'user_can_read']);

$curmaand = -1;
$months = get_months();
$days = get_days();

if (!count($iter)) { ?>
	<p> <?= __('Er staan op dit moment geen activiteiten op de agenda.') ?></p>
<? }
foreach ($iter as $punt):
	$date = strtotime($punt->get('van'));

	if ($curmaand != $punt->get('vanmaand')) { ?>
		</table>
		<h2>
			<?= $months[$punt->get('vanmaand')] ?>
			<?= isset($show_year) && $show_year ? $punt->get('vanjaar') : '' ?>
		</h2>
		<table class="agenda">
		
		<?
		$curmaand = $punt->get('vanmaand');
	} ?>
	
	<tr>
		<td class="vandatum">
			<div class="calendar-icon">
				<span class="month"><?=strftime('%b', $date)?></span>
				<span class="day"><?=strftime('%d', $date)?></span>
			</div>
		</td>
		<td>
			<a class="agendalink" href="<?=markup_format_attribute($controller->link_to_read($punt))?>"><?= markup_format_text($punt->get('kop')) ?></a>
			<?php if ($punt->is_proposal()) printf('<span class="label-pending">%s</span>', __('Nog niet gepubliceerd')) ?>
			<br/>
		<?= agenda_period_for_display($punt) ?><br/>

	<?php if ($punt->get('locatie')): ?>
		<?= __('Locatie') ?>: <?= markup_format_text($punt->get('locatie')) ?><br/>
	<?php endif ?>

	
			<ul class="actions">
				<?php if (get_policy($this->model)->user_can_delete($punt)): ?>
				<li><a href="<?=markup_format_attribute($controller->link_to_delete($punt))?>" onClick="return confirm('<?= __('Weet je zeker dat je dit agendapunt wilt verwijderen?') ?>');"><?= __('Verwijder') ?></a></li>
				<?php endif ?>
				<?php if (get_policy($this->model)->user_can_update($punt)): ?>
				<li><a href="<?=markup_format_attribute($controller->link_to_update($punt))?>"><?= __('Wijzig') ?></a></li>
				<?php endif ?>
			</ul>
		</td>
	</tr>
<?php endforeach ?>

</table>

<p><?=__('De Coveragenda is ook beschikbaar in verschillende standaarden:')?> 
<?php if (get_auth()->logged_in()): ?>
<a href="agenda.php?format=webcal&amp;session_id=<?=get_model('DataModelSession')->getForApplication(get_identity()->get('id'), 'calendar')->get('session_id')?>">iCal (website)</a>, 
<?php endif ?>
<a href="http://www.google.com/calendar/feeds/s16ii08dg06pt83j0mblbnqfrc%40group.calendar.google.com/public/basic">XML (gcal)</a>,
<a href="http://www.google.com/calendar/ical/s16ii08dg06pt83j0mblbnqfrc%40group.calendar.google.com/public/basic.ics">iCal (gcal)</a></p>
</div>
