<h1><?= __('Agenda') ?></h1>
<div class="messageBox">
<? if (count($iter) == 0) { ?>
	<p><?= __('Er staan geen agendapunten in de wachtrij om goedgekeurd te worden.') ?></p></div>
	<? return;
} ?>

<p><?= __('Onderstaande agendapunten staan in de wachtrij om goedgekeurd te worden.') ?></p>
<form name="agenda_moderate" action="<?= get_request() ?>" method="post">
<table class="moderate" id="table_moderate">
<?= input_hidden('submagenda_moderate', 'yes');?>

<thead>
	<tr class="header">
		<th class="text_center"><?= image('accept.png', '', __('Accepteer agendapunt')) ?></th>
		<th class="text_center"><?= image('cancel.png', '', __('Weiger agendapunt')) ?></th>
		<th><?= __('Kop') ?></th>
		<th><?= __('Datum') ?></th>
		<th><?= __('Commissie') ?></th>
		<th><?= __('Privé') ?></th>
	</tr>
</thead>
<tbody>
<?php
$commissie_model = get_model('DataModelCommissie');
$i = 0;

foreach ($iter as $item) {
	if ($item->get_id() == $highlight)
		$class = 'highlight';
	else
		$class = 'r' . (($i % 2) == 0 ? '0' : '1');
	
	?>
	<tr id="<?= $item->get_id() ?>" class="<?= $class ?>">
	<td><?= input_radio('action_' . $item->get_id(), null, 'accept', 'id', 'accept_' . $item->get_id(), 'onClick', 'action_clicked(\'' . $item->get_id() . '\', true)') ?></td>
	<td><?= input_radio('action_' . $item->get_id(), null, 'cancel', 'id', 'cancel_' . $item->get_id(), 'onClick', 'action_clicked(\'' . $item->get_id() . '\', false);') ?></td>
	<td><a href="agenda.php?agenda_id=<?= $item->get_id() ?>"><?= $item->get('kop') ?></a></td>
	<td><?= agenda_period_for_display($item) ?></td>
	<td><?= markup_format_text($commissie_model->get_naam($item->get('commissie'))) ?></td>
	<td><?= input_checkbox('private_' . $item->get_id(), $item->data, 'yes', 'field', 'private') ?></td>
	</tr>
	
	<tr id="comment_<?= $item->get_id() ?>"><td colspan="2"></td><td colspan="5"><?= textarea_field('comment_' . $item->get_id(), null, null, 'rows', '4') ?></td></tr>
	
	<? 
	$i++;
}
?>
	</tbody>
	<tfoot>
		<tr>
			<td class="text_center"><a href="javascript:accept_all();"><?= image('up.png', '', __('Alle agendapunten op accepteren zetten')) ?></a></td>
			<td class="text_center"><a href="javascript:cancel_all();"><?= image('up.png', '', __('Alle agendapunten op weigeren zetten')) ?></a></td>
			<td colspan="5" class="submit"><?= input_submit('submmoderate', __('Toepassen')) ?></td>
		</tr>
	</tfoot>
</table></form>
</div>
<script type="text/javascript">
	var ids = new Array(0, <?= implode(', ', array_map(create_function('$item', 'return $item->get_id();'), $iter)) ?>);

	function action_clicked(id, accept) {
		div = document.getElementById("comment_" + id);

		if (accept)
			div.style.display = "none";
		else
			div.style.display = "";
	}
	
	function set_all(accept) {
		for (i = 1; i < ids.length; i++) {
			var id = ids[i];
			
			if (accept)
				radio = document.getElementById("accept_" + id);
			else
				radio = document.getElementById("cancel_" + id);
			
			radio.checked = true;
			action_clicked(id, accept);
		}				
	}
	
	function accept_all() {
		set_all(true);
	}
	
	function cancel_all() {
		set_all(false);
	}
	
	for (i = 1; i < ids.length; i++) {
		var id = ids[i];

		/* Check radio state */
		cancel = document.getElementById("cancel_" + id);
		action_clicked(id, !cancel.checked);
	}
</script>