<div class="messageBox">
<h1> <?= __('Agenda') ?></h1>
<p><span class="error"> <?= sprintf(__('Dit agendapunt kon niet worden gevonden. Neem contact op met %s mocht dit vaker gebeuren.'), '<a href="mailto:webcie@ai.rug.nl">' . __('de WebCie') . '</a>') ?>
</span></p>
</div>