<h1><?= __('Almanak') ?></h1>
<div class="messageBox">	
	<form name="almanak" action="almanak.php" method="get">
		<table class="almanak_navigation">
			<tr>
				<td class="title"><?=__('Naam')?>:</td>
				<td>
					<?=input_text('search', $_GET, 'size', 40)?>
					<?=input_submit('', __('Zoeken'))?>
				</td>
			</tr>
			<tr>
				<td class="title"><?= __('Beginjaar') ?>:</td><td class="alphabet" colspan="2">
				<? foreach ($model->get_distinct_years() as $jaar) { ?>
					<a href="?search_year=<?= $jaar ?>"> <?= $jaar ?></a> 
				<?}	// join($model->get_distinct_years()," ") .	?>
				</td>
			</tr>
			<?php if (member_in_commissie(COMMISSIE_BESTUUR)): ?>
			<tr>
				<td class="title"><?= __('Zichtbaarheid') ?>:</td>
				<td colspan="2">
					<a href="?status=<?=MEMBER_STATUS_LID?>"><?=__('Lid') ?></a>
					<a href="?status=<?=MEMBER_STATUS_LID_ONZICHTBAAR?>"><?=__('Lid (verborgen)') ?></a>
					<a href="?status=<?=MEMBER_STATUS_LID_AF?>"><?=__('Lid af') ?></a>
					<a href="?status=<?=MEMBER_STATUS_ERELID?>"><?=__('Erelid') ?></a>
					<a href="?status=<?=MEMBER_STATUS_DONATEUR?>"><?=__('Donateur') ?></a>
				</td>
			</tr>
			<?php endif ?>
		</table>
	</form>
	</div>
	<?php if ($iter === null): ?>
		<p><?= __('Maak hierboven een selectie om de almanak te bekijken.') ?></p>
		<?php if (member_in_commissie(COMMISSIE_ALMANAKCIE)): ?>
		<p>
			<?= __('Download almanakgegevens:') ?>
			<a href="almanak.php?export=csv"><?=__('CSV met persoonsgegevens')?></a>
			<a href="almanak.php?export=photos"><?=__('ZIP met foto\'s')?></a>
		</p>
		<?php endif ?>
	<?php else: ?>
	
	<h3><?= __N('Er is <em>%d</em> lid gevonden die voldoet aan de zoekterm(en).', 'Er zijn <em>%d</em> leden gevonden die voldoen aan de zoekterm(en).', count($iter)) ?></h3>		
	<div class="messageBox">
	<table class="almanak">
	<?php
		$items_per_row = 4;
		$rows = intval(ceil(count($iter) / floatval($items_per_row)));
		
		for ($i = 0; $i < count($iter); $i += $items_per_row)
		{
			$photos = '';
			$names = '';
			
			for ($n = $i; $n < $i + $items_per_row; $n++) {
				if ($n < count($iter)) {
					$info = $this->almanak_info($model, $iter[$n]);
					$photos .= '<td>' . $info . "</td>\n";
				} else {
					$photos .= "<td></td>\n";
				}
			}
			
			echo '<tr class="photo">' . $photos . "</tr>\n";
		}
	?>
	</table>
	</div>
	<?php endif ?>