<h1><?=__('Inloggen') ?></h1>
<div class="messageBox">

	<form id="login-form" method="post" action="sessions.php?view=login" class="vertical-form">
		<img src="<?=get_theme_data('images/cover_logo_black.png')?>" class="cover-logo" alt="Cover">

		<ul class="nav-tabs">
			<li class="active"><a href="sessions.php?view=login"><?=__('Inloggen')?></a></li>
			<li><a href="lidworden.php#contents"><?=__('Lid worden')?></a></li>
		</ul>

		<?php if ($error_message): ?>
		<div class="error-section">
			<p><?=markup_format_text($error_message)?></p>
		</div>
		<?php endif ?>

		<?= input_hidden('referrer', $referrer) ?>
		<div>
			<?=label(__('E-mailadres'), 'email', $errors, true)?>
			<?=input_text('email', null, 'placeholder', __('E-mailadres'), 'autofocus', 'true') ?>
		</div>

		<div>
			<?=label(__('Wachtwoord'), 'password', $errors, true)?>
			<?=input_password('password', 'placeholder', __('Wachtwoord')) ?>
		</div>	

		<div>
			<?=input_checkbox('remember', array('remember' => 'yes'), 'yes')?>
			<?=label(__('Blijf ingelogd'), 'remember', $errors)?>
		</div>

		<div class="controls">
			<button type="submit" class="button primary">
				<?= __('Log in') ?>
				<?php if ($external_domain): ?>
					<small><?= sprintf(__('en ga door naar %s'), $external_domain) ?></small>
				<?php endif ?>
			</button>
			<a href="wachtwoordvergeten.php"><?=__('Wachtwoord vergeten?')?></a>
		</div>
	</form>
</div>
