<div class="messageBox">
	<h2><?=sprintf(__('Bericht uit Archief van %s'), '<a href="mailinglijsten.php?archive_list_id=' . $lijst->get_id() . '">' . markup_format_text($lijst->get('naam')) . '</a>')?></h2>
	<div class="section">
		<pre style="white-space: pre-wrap; 
white-space: -moz-pre-wrap; 
white-space: -pre-wrap; 
white-space: -o-pre-wrap; 
word-wrap: break-word;"><?=markup_format_text($message->get('bericht'))?></pre>
	</div>
</div>
