<div class="pageHeading">
	<?php if ($model->member_can_edit($lijst)): ?>
		<div class="controls inline"><a href="##mailinglist-settings" class="edit-link"><?= __('Bewerk mailinglijsteigenschappen') ?></a></div>
	<?php endif ?>
	<h1><?=__('Mailinglijsten')?> / <?=markup_format_text($lijst->get('naam'))?></h1>
</div>
<div class="messageBox">
	<div class="section mailinglist-header">
		<p>
			<em><?=__('Adres') ?>: <?=htmlspecialchars($lijst->get('adres'))?></em>
			<?=markup_parse($lijst->get('omschrijving'))?>
		</p>
	</div>

	<form method="post" action="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>">
	<?php if (!logged_in()): ?>
		<p><?=__('Log in om je aan te kunnen melden voor deze mailinglijst.')?></p>
	<?php elseif ($model->is_aangemeld($lijst, logged_in('id'))): ?>
		<input type="hidden" name="action" value="unsubscribe">
		<p><input type="submit" class="button" value="<?=__('Uitschrijven')?>">
		<?= __('Je bent aangemeld voor deze mailinglijst.') ?></p>
	<?php elseif($model->member_can_subscribe($lijst)): ?>
		<input type="hidden" name="action" value="subscribe">
		<input type="submit" class="button" value="<?=__('Aanmelden')?>">
	<?php endif ?>
	<?php if ($model->member_can_access_archive($lijst)): ?>
		<a href="mailinglijsten.php?archive_list_id=<?=$lijst->get_id()?>" class="button"><?=__('Bekijk archief')?></a>
	<?php endif ?>
	</form>
</div>

<?php if ($model->member_can_edit($lijst)): ?>
<div id="mailinglist-settings" class="messageBox hide-by-default">
	<h2><?=__('Eigenschappen')?></h2>
	<div class="section">
		<form class="vertical-form" method="post" action="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>">
			<div class="inline-block">
				<label for="toegang"><?=__('Wie mag mailen naar deze mailinglist')?></label>
				<?=select_field('toegang', $this->get_all_toegang_options(), $lijst->data, 'id', 'toegang')?>
			</div>
			<?php if (member_in_commissie(COMMISSIE_BESTUUR)): ?>
			<div class="inline-block">
				<label for="commissie"><?=__('Commissie')?></label>
				<?=select_field('commissie', $this->get_all_commissies(), $lijst->data, 'id', 'commissie') ?>
			</div>
			<?php endif ?>
			<div>
				<label for="naam"><?=__('Naam') ?></label>
				<input id="naam" type="text" name="naam" value="<?=htmlspecialchars($lijst->get('naam'), ENT_QUOTES)?>">
			</div>
			<div>
				<label for="omschrijving"><?=__('Omschrijving') ?></label>
				<textarea id="omschrijving" name="omschrijving"><?=htmlspecialchars($lijst->get('omschrijving'))?></textarea>
			</div>
			<div>
				<input id="publiek" type="checkbox" name="publiek" <?php if ($lijst->get('publiek')) echo 'checked' ?>>
				<label for="publiek"><?=__('Mensen mogen zichzelf aanmelden voor deze lijst.')?></label>
			</div>

			<div>
				<label for="automessages"><?=__('Automatische e-mails') ?></label>
				<div style="margin-left: 1em">
					<?php if ($lijst->sends_email_on_subscribing()): ?>
					<p><?=__('Deze lijst stuurt iedereen die zichzelf aanmeldt automatisch een mailtje.') ?> <a href="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>&amp;edit_message=subscription"><?=__('Wijzig bericht')?></a></p>
					<?php elseif ($lijst->get('type') == DataModelMailinglijst::TYPE_OPT_IN): ?>
					<p><a href="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>&amp;edit_message=subscription"><?=__('Stel bericht in dat automatisch wordt verstuurd bij aanmelding.')?></a></p>
					<?php endif?>

					<?php if ($lijst->sends_email_on_first_email()): ?>
					<p><?=__('Deze lijst stuurt automatisch een reactie wanneer je er voor de eerste keer naar toe mailt en niet op de lijst bent ingeschreven.')?> <a href="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>&amp;edit_message=first_email"><?=__('Wijzig bericht')?></a></p>
					<?php else: ?>
					<p><a href="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>&amp;edit_message=first_email"><?=__('Stel een automatische eerste reactie in die wordt verstuurd wanneer iemand mailt naar de mailinglijst.')?></a></p>
					<?php endif ?>
				</div>
			</div>

			<button class="button" type="submit"><?=__('Update lijst')?></button>
		</form>
	</div>
</div>

<div class="messageBox">
	<h2><?=__('Aanmeldingen')?></h2>
	<div class="section">
		<form method="post" action="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>">
			<label for="lid_id"><?=__('Lidnummer(s)')?>:</label>
			<input type="text" id="lid_id" name="subscribe">
			<button type="submit" class="button"><?=__('Meld aan')?></button>
			<a href="#mailinglist-add-gast"><?=__('Niet-lid aanmelden voor mailinglijst')?></a>
		</form>
	</div>

	<div id="mailinglist-add-gast" class="section hide-by-default">
		<form class="vertical-form" method="post" action="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>">
			<div>
				<label for="gast-naam"><?=__('Naam')?></label>
				<input type="text" id="gast-naam" name="naam">
			</div>
			<div>
				<label for="gast-email"><?=__('E-Mail adres')?></label>
				<input type="email" id="gast-email" name="email">
			</div>
			<div class="controls">
				<button type="submit" class="button"><?=__('Meld aan')?></button>
			</div>
		</form>
	</div>

	<div class="section">
		<form method="post" action="mailinglijsten.php?lijst_id=<?=$lijst->get_id()?>">
		<table class="full-width">
			<thead>
				<tr>
					<th width="20"></th>
					<th><?=__('Naam')?></th>
					<th><?=__('E-Mail adres')?></th>
					<th width="40"></th>
				</tr>
			</thead>
			<tbody>
			<?php foreach ($aanmeldingen as $aanmelding): ?>
				<tr>
					<td><input type="checkbox" id="<?=$this->uid($aanmelding)?>" name="unsubscribe[]" value="<?=$aanmelding->has('abonnement_id') ? $aanmelding->get('abonnement_id') : $aanmelding->get('lid_id') ?>"></td>
					<?php if ($aanmelding->get('lid_id')): ?>
					<td><label for="<?=$this->uid($aanmelding)?>"><?=markup_format_text(member_full_name($aanmelding->getIter('lid'), IGNORE_PRIVACY))?></label></td>
					<?php else: ?>
					<td><label for="<?=$this->uid($aanmelding)?>"><?=markup_format_text($aanmelding->get('naam'))?></label></td>
					<?php endif ?>
					<td><?=htmlspecialchars($aanmelding->get('email'))?></td>
					<?php if ($aanmelding->get('lid_id')): ?>
					<td><a href="profiel.php?lid=<?=$aanmelding->get('lid_id')?>"><?=__('Profiel')?></a></td>
					<?php else: ?>
					<td></td>
					<?php endif ?>
				</tr>
			<?php endforeach ?>
			</tbody>
		</table>
		<button class="button" type="submit"><?=__('Meld geselecteerde adressen af')?></button>
		</form>
	</div>
</div>

<script>
jQuery(function($) {
	function split(val) {
		return val.split(/,\s*/);
	}

	function extractLast(term) {
		return split(term).pop();
	}

	$('.mailinglist-header + form').append(
		$('<a>')
			.addClass('button')
			.attr({'href': '#mailinglist-settings'})
			.text(<?=json_encode(__('Bewerk mailinglijsteigenschappen'))?>));
	
	$('#lid_id')
		.bind('keydown', function(e) {
			if (event.keyCode === $.ui.keyCode.TAB
				&& $(this).data('ui-autocomplete').menu.active)
				e.preventDefault();
		})
		.autocompleteAlmanac({
			source: function(request, response) {
				$.getJSON('almanak.php', {
					'search': extractLast(request.term)
				}, response);
			},
			search: function() {
				// custom minLength
				if (extractLast(this.value).length < 2)
					return false;
			},
			select: function(event, ui) {
				var terms = split(this.value);
				// remove the current input
				terms.pop();
				// add the selected item
				terms.push(ui.item.id);
				// add placeholder to get the comma-and-space at the end
				terms.push('');
				this.value = terms.join(', ');
				return false;
			}
		});
});
</script>
<?php endif ?>
