<h1><?= __('Mailinglijst') ?></h1>
<div class="messageBox">
	<?php if (!$abonnement): ?>
	<p><?=__('Je staat niet (meer) op deze mailinglijst ingeschreven.') ?></p>
	<?php elseif ($uitgeschreven): ?>
	<p><?php printf(__('Gelukt! Je staat niet langer op de lijst <em>%s</em>.'), markup_format_text($abonnement->get('naam'))) ?></p>
	<?php else: ?>
	<form method="post">
		<p><?php printf(__('Je staat je op het punt uit te schrijven uit de mailinglijst <em>%s</em>. Weet je dit zeker?'),
			markup_format_text($abonnement->get('naam'))) ?></p>
		<input type="hidden" name="unsubscribe" value="yes">
		<button class="button" type="submit"><?=__('Schrijf mij uit') ?></button>
		<a href="index.php" class="button"><?=__('Nee, ik was gewoon nieuwsgierig')?></a>
	</form>
	<?php endif ?>
</div>		
