<h2>
	<a href="<?=markup_format_attribute($iter->get_absolute_url())?>">
		<?=markup_format_text($iter->get_title())?>
	</a>
</h2>
<p><?= nl2br(text_excerpt(
	markup_format_text(markup_strip($iter->get_content())),
	parse_search_query($query),
	50)) ?></p>
