<?php $date = strtotime($iter->get('van')); ?>
<h2>
	<!-- Calendar icon -->
	<div class="calendar-icon">
		<span class="month"><?=strftime('%b', $date)?></span>
		<span class="day"><?=strftime('%d', $date)?></span>
	</div>

	<a href="<?=markup_format_attribute($iter->get_absolute_url())?>"><?=markup_format_text($iter->get('kop')) ?></a>

	<small><?=sprintf(__('Agendapunt uit %d'), strftime('%Y', $date))?></small>
</h2>
<p><?=markup_parse($iter->get('beschrijving'))?></p>
