<h2>
	<a href="<?=markup_format_attribute($iter->get_absolute_url())?>"><?=markup_format_text($iter->get('titel'))?></a>
	<small><?=sprintf(__('Fotoboek in %s'),
		sprintf('<a href="fotoboek.php?book=%d">%s</a>',
			$iter->get_parent()->get_id(),
			markup_format_text($iter->get_parent()->get('titel'))))?></small>
</h2>
<p><?php
	$n_books = $iter->count_books();
	$n_photos = $iter->count_photos();

	$parts = [];

	if ($n_books > 0)
		$parts[] = __N('%d boek', '%d boeken', $n_books);

	if ($n_photos > 0)
		$parts[] = __N('%d foto', '%d foto\'s', $n_photos);

	echo markup_format_text(sprintf(__('Fotoboek met %s gemaakt op %s.'),
		implode_human($parts), $iter->get('datum')));
?></p>
<?php if ($n_photos > 0): ?>
<ul class="photos flow-gallery">
	<!-- add the 'grid-gallery' class for awesomeness -->
	<?php foreach (array_slice($iter->get_photos(), 0, 5) as $photo): ?>
	<li id="photo_<?=$photo->get_id()?>" data-id="<?=$photo->get_id()?>" class="thumbnail">
		<a href="fotoboek.php?book=<?=$iter->get_id()?>&amp;photo=<?=$photo->get_id()?>">
			<img src="<?=markup_format_attribute($photo->get_url(null, 400))?>" <?=($size = $photo->get_scaled_size(null, 400)) ? vsprintf('width="%d" height="%d"', $size) : ''?>>
			<?php if ($photo->get('num_reacties') > 0): ?>
			<span class="comments"><?=markup_format_text(sprintf(_ngettext('%d reactie', '%d reacties', $photo->get('num_reacties')), $photo->get('num_reacties')))?></span>
			<?php endif ?>
			<?php if (strlen($photo->get('beschrijving')) > 0): ?>
			<span class="description"><?=markup_format_text($photo->get('beschrijving'))?></span>
			<?php endif ?>
		</a>
	</li>
	<?php endforeach ?>
</ul>
<?php endif ?>