<h2>
	<a href="<?=markup_format_attribute($iter->get_absolute_url())?>"><?=markup_format_text($iter->get('naam'))?></a>
	<?php if ($iter->get('search_match_reason') == 'committee_member_match'): ?>
		<small class="match-reason"><?=sprintf(__('%s is een lid in deze commissie'),
			sprintf('<a href="profiel.php?lid=%d">%s</a>',
				$iter->get('search_match_committee_member_id'),
				markup_format_text(member_full_name($iter->get('search_match_committee_member_id')))))?></small>
	<?php else: ?>
		<small><?=__('Commissie') ?></small>
	<?php endif ?>
</h2>
<p><?=markup_format_text($iter->get_summary())?></p>
