<h1><?=__('Zoeken')?></h1>
<div class="messageBox search">
	<form method="get" action="search.php" class="search-widget">
		<label for="field-query"><?=__('Zoekopdracht')?></label>
		<input type="search" name="query" id="field-query" value="<?=markup_format_attribute($query)?>" placeholder="<?=__('Typ hier om te zoeken…')?>" tabindex="1" <?php if ($iter === null) echo ' autofocus' ?>>
		<button type="submit" class="button"><?=__('Zoek')?></button>
	</form>

	<?php if ($iter !== null): ?>
	<p class="search-result-statistics"><?=__N('Er is %d zoekresultaat', 'Er zijn %d zoekresultaten', count($iter))?></p>
	<ul class="search-results">
		<?php foreach ($iter as $result): ?>
		<li data-search-relevance="<?=sprintf('%0.2F', $result->get_search_relevance())?>">
			<?php $this->render_partial('single_' . $result->get_search_type(), array('iter' => $result, 'query' => $query)) ?>
		</li>
		<?php endforeach ?>
	</ul>
	<?php endif ?>
</div>
<script>
jQuery(function($) {
	var links = $('.search-results > li h2 > a');

	// Prioritize tabs on the links
	links.each(function(i) {
		$(this).attr('tabindex', i + 1);
	});

	// Color the background according to the focussed status of the result
	links.on('focus', function(e) {
		$(this).closest('li').addClass('focussed');
	});

	links.on('blur', function(e) {
		$(this).closest('li').removeClass('focussed');
	});

	// Focus first search result
	if (links.length > 0)
		links.first().focus();

	$('.search-results').on('keydown', function(e) {
		var current_focus = 0;

		// Find currently focussed link
		links.each(function(i) {
			if ($(this).is(':focus')) {
				current_focus = i;
				return false;
			}
		});

		// Move the focus up or down (and wrap around)
		switch (e.keyCode) {
			case 40:
				links[(links.length + current_focus + 1) % links.length].focus();
				e.preventDefault();
				break;

			case 38:
				links[(links.length + current_focus - 1) % links.length].focus();
				e.preventDefault();
				break;
		}
	});
});
</script>
<script src="<?=get_theme_data('data/flowgallery.js')?>"></script>
<script>$('.search-results .photos.flow-gallery').flowgallery();</script>