<?php
require_once 'include/kast.php';

$format_date = function($datestring) {
	$timestamp = strtotime($datestring);
	return format_date_relative($timestamp);
};

try {
	$kast_api = get_kast();
	$status = $kast_api->getStatus($iter->get_id());
	$history = $kast_api->getHistory($iter->get_id());
?>
<section class="aligned-list-section">
	<h2><?=__('KAST')?></h2>
	<h4>Credit balance</h4>
	<em><?=$status->credits?> credits</em>
</section>

<section class="aligned-list-section">
	<p>Your last ten purchases are listed here.</p>
	<table class="full-width-table">
		<thead>
			<tr>
				<th>Product</th>
				<th class="numeric">Price</th>
				<th class="timestamp">Date of purchase</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($history as $i => $purchase): ?>
			<tr class="<?php if ($purchase->admin) echo 'purchase-admin' ?><?php if (!$purchase->valid) echo 'purchase-reverted' ?>"
				title="<?php if ($purchase->admin) echo 'Admin intervention' ?><?php if (!$purchase->valid) echo 'Undone' ?>">
				<td><?=markup_format_text($purchase->product_description)?></td>
				<td class="numeric"><?=sprintf('%d', $purchase->price)?></td>
				<td class="timestamp"><?=$format_date($purchase->date)?></td>
			</tr>
			<?php endforeach ?>
		</tbody>
	</table>
</section>
<?php } catch (Exception $e) { ?>
<section>
	<p>Sorry, but your current KAST status could not be retrieved right now.</p>
</section>
<?php } ?>