<?php
$model = get_model('DataModelMailinglijst');
$mailinglijsten = $model->get_lijsten($iter->get_id());
?>
<section id="mailinglijsten-section">
<h2><?= __('Mailinglijsten')?></h2>
<div class="list-group">
<?php foreach ($mailinglijsten as $lijst): ?>
	<div href="#" class="list-group-item list-group-item-with-action">
		<h4 class="list-group-item-heading">
			<a href="mailinglijsten.php?lijst_id=<?=$lijst->get('id')?>"><?= markup_format_text($lijst->get('naam')) ?></a>
			<small><?= markup_format_text($lijst->get('adres')) ?></small>
		</h4>
		
		<?php if (($lijst->get('subscribed') && $model->member_can_unsubscribe($lijst))
			|| (!$lijst->get('subscribed') && $model->member_can_subscribe($lijst))): ?>
		<form id="mailinglijst-<?=$lijst->get_id()?>-toggle" class="list-group-item-action toggle-action-button <?php if ($lijst->get('subscribed') && $model->member_can_unsubscribe($lijst)) echo 'toggle-state-active' ?>" method="post" action="mailinglijsten.php?lijst_id=<?=$lijst->get('id')?>">
			<input type="hidden" name="referer" value="profiel.php?lid=<?=$iter->get_id()?>&amp;tab=mailinglists">
			<?php if ($lijst->get('subscribed') && $model->member_can_unsubscribe($lijst)): ?>
				<?php if ($model->member_can_edit($lijst)): ?>
					<input type="hidden" name="unsubscribe[]" value="<?=$iter->get_id()?>">
				<?php else: ?>
					<input type="hidden" name="action" value="unsubscribe">
				<?php endif ?>
				<button type="submit" class="button"><?=__('Uitschrijven')?></button>
			<?php else: ?>
				<?php if ($model->member_can_edit($lijst)): ?>
					<input type="hidden" name="subscribe[]" value="<?=$iter->get_id()?>">
				<?php else: ?>
					<input type="hidden" name="action" value="subscribe">
				<?php endif ?>
				<button type="submit" class="button"><?=__('Aanmelden')?></button>
			<?php endif ?>
		</form>
		<?php endif ?>

		<div class="list-group-item-text">
			<p><?= markup_parse($lijst->get('omschrijving')) ?></p>
		</div>
	</div>
<?php endforeach ?>
</div>
</section>