<section class="aligned-list-section">
	<h2 id="wachtwoord"><?= __('Nieuw wachtwoord') ?></h2>
	<form action="profiel.php?lid=<?=$iter->get_id()?>&amp;tab=privacy" method="post" class="vertical-form">
		<?= input_hidden('submprofiel_wachtwoord', 'yes') ?>

		<?php if (!member_in_commissie(COMMISSIE_BESTUUR) && !member_in_commissie(COMMISSIE_KANDIBESTUUR)): ?>
			<div>
				<?=label(__('Huidige wachtwoord'), 'wachtwoord_oud', $errors)?>
				<?=input_password('wachtwoord_oud')?>
			</div>
		<?php endif ?>
		
		<div>
			<?=label(__('Nieuw wachtwoord'), 'wachtwoord_nieuw', $errors)?>
			<?=input_password('wachtwoord_nieuw') ?>
		</div>

		<div>
			<?=label(__('Opnieuw'), 'wachtwoord_opnieuw', $errors)?>
			<?=input_password('wachtwoord_opnieuw') ?>
		</div>

		<button type="submit" class="button"><?=__('Wijzig wachtwoord')?></button>
	</form>
</section>