<section class="aligned-list-section">
	<h2><?= __('Almanakgegevens') ?></h2>
	<?php if ($this->is_current_member($iter)): ?>
	<form action="profiel.php?lid=<?= $iter->get('lidid') ?>&amp;tab=personal" method="post" class="vertical-form">
		<?= input_hidden('submprofiel_almanak', 'yes') ?>
		<?php foreach ($personal_fields as $field): ?>
			<?php if (!$this->is_current_member($iter) && $model->is_private($iter, $field['name'])) continue; ?>
			<div>
				<?=label($field['label'], $field['name'], $errors)?>
				<?php if ($this->is_current_member($iter) && empty($field['read_only'])): ?>
				<?=input_text($field['name'], $iter)?>
				<?php $form_enabled = true ?>
				<?php else: ?>
				<span class="read-only">
					<?php if ($field['name'] == 'geboortedatum' && $date = strtotime($iter[$field['name']])): ?>
						<?=date('d-m-Y', $date)?>
					<?php else: ?>
						<?=markup_format_text($iter[$field['name']])?>
					<?php endif ?>
				</span>
				<?php endif ?>
			</div>
		<?php endforeach ?>

		<button type="submit" class="button"><?=__('Opslaan')?></button>
	</form>
	<?php else: ?>
	<p><?=sprintf(__('Je kan %s\'s persoonsgegevens aanpassen <a href="%s">in de ledenadmin</a>.'),
		markup_format_text(member_full_name($iter)),
		sprintf('https://secretary.svcover.nl/administration/%d/', $iter->get_id()))?></p>
	<?php endif ?>
</section>