<section class="aligned-list-section">
	<h2 id="privacy"><?= __('Privacy instellingen') ?></h2>
	<p><?= __('Je privacy instellingen geven aan wie welke informatie mag zien.') ?></p>

	<form action="profiel.php?lid=<?= $iter->get('lidid') ?>&amp;tab=privacy" method="post">
		<?= input_hidden('submprofiel_privacy', 'yes') ?>
		<table class="privacy">
			<thead>
				<tr>
					<td></td>
					<th><?= __('Niemand') ?></th>
					<th><?= __('Leden') ?></th>
					<th><?= __('Iedereen') ?></th>
				</tr>
			</thead>
			<tbody>
				<?php
				/* Get privacy fields */
				$fields = $model->get_privacy();
				$privacy = $iter->get('privacy');

				foreach ($fields as $field => $nr):
					/* Get the 3bit value */
					$value = (($privacy >> ($nr * 3)) & 7);
					$data = array('privacy_' . $nr => $value);

					/* Create privacy row */
				?>
				<tr>
					<th><?= field_for_display($field) ?></th>
					<td><?= input_radio('privacy_' . $nr, $data, '0') ?></td>
					<td><?= input_radio('privacy_' . $nr, $data, '1') ?></td>
					<td><?= input_radio('privacy_' . $nr, $data, '7') ?></td>
				</tr>
				<?php endforeach ?>
			</tbody>
		</table>

		<button type="submit" class="button"><?=__('Opslaan')?></button>
	</form>
</section>