<div class="commissie-member profile-widget round">
	<?php if ($model->has_photo($iter) && !$model->is_private($iter, 'foto')): ?>
	<a href="foto.php?lid_id=<?=$iter->get_id()?>" data-image-popup="modal" title="<?=markup_format_attribute(__('Klik om de foto te vergroten'))?>">
		<img src="foto.php?lid_id=<?=$iter->get('id')?>&amp;format=square&amp;width=200" width="150">
	</a>
	<?php else: ?>
	<img src="foto.php?lid_id=<?=$iter->get('id')?>&amp;format=square&amp;width=200" width="150">
	<?php endif ?>

	<?php if (member_in_commissie(COMMISSIE_EASY)): ?>
	<form id="upload-photo" action="" method="post" enctype="multipart/form-data">
		<div class="file-upload-button button">
			<span><?=__('Kies nieuwe foto') ?>&hellip;</span>
			<input type="file" name="photo" accept="image/jpeg" title="<?=__('Alleen JPEG-plaatjes mogen.')?>" onchange="if (this.value) this.form.submit()">
		</div>
	</form>
	<?php endif ?>

	<?php if ($iter->has('nick') && !$model->is_private($iter, 'naam')): ?>
	<h3 class="nickname"><?=markup_format_text($iter['nick'])?></h3>
	<?php endif ?>

	<?php if ($iter->has('homepage')):?>
	<a href="<?=markup_format_attribute($iter['homepage'])?>" target="_blank"><?=markup_format_text(parse_url($iter['homepage'], PHP_URL_HOST))?></a>
	<?php endif?>
</div>