<section class="aligned-list-section">
	<h2><?= __('Webgegevens') ?></h2>
	<p><?=__('Je webgegevens worden gebruikt om je er een beetje (on)herkenbaar te maken op het forum.')?></p>
	<form action="profiel.php?lid=<?=$iter->get_id()?>&amp;tab=profile" method="post" class="vertical-form">
		<?= input_hidden('submprofiel_webgegevens', 'yes') ?>
		<div>
			<?=label(__('Bijnaam'), 'nick', $errors)?>
			<?=input_text('nick', $iter)?>
		</div>

		<div>
			<?=label(__('Onderschrift'), 'onderschrift', $errors)?>
			<?=input_text('onderschrift', $iter)?>
		</div>

		<div>
			<?=label(__('Avatar'), 'avatar', $errors) ?>
			<?=input_text('avatar', $iter, 'formatter',  'empty_to_http_formatter', 'placeholder', 'http://') ?>
		</div>

		<div>
			<?=label(__('Website'), 'homepage', $errors) ?>
			<?=input_text('homepage', $iter, 'formatter', 'empty_to_http_formatter', 'placeholder', 'http://') ?>
		</div>

		<div>
			<?=label(__('Taal'), 'taal', $errors) ?></td>
			<?=select_field('taal', i18n_get_languages(), $iter) ?>
		</div>
		
		<button type="submit" class="button"><?=__('Opslaan')?></button>
	</form>
</section>