<section class="aligned-list-section personal-section">
	<h2><?= __('Persoonlijk') ?></h2>
	<?php if (get_identity()->member_is_active()): ?>
	<a href="profiel.php?lid=<?=$iter->get_id()?>&amp;export=vcard" class="vcard-link" title="Download vCard"><i class="fa fa-download"></i></a>
	<?php endif ?>

	<?php if ($this->is_current_member($iter)): ?>
	<p class="hint"><?=sprintf(
		__('Verander wie deze gegevens kunnen zien in het <a href="%s">privacy tabblad</a>.'),
		'profiel.php?lid=' . $iter->get_id() . '&amp;tab=privacy') ?></p>
	<?php endif ?>
	
	<dl class="profile">
	<?php foreach ($personal_fields as $field): ?>
		<?php $field_visibility = $model->get_privacy_for_field($iter, $field['name']) ?>
		<?php if ($field_visibility == DataModelMember::VISIBLE_TO_EVERYONE): ?>
			<dt><?=label($field['label'], $field['name'])?></dt>
			<dd class="data-public"><?=$this->format_member_data($iter, $field['name'])?></dd>
		<?php elseif ($field_visibility == DataModelMember::VISIBLE_TO_MEMBERS): ?>
			<?php if (get_identity()->member_is_active() || get_identity()->member_in_committee(COMMISSIE_BESTUUR)): ?>
				<dt><?=label($field['label'], $field['name'])?></dt>
				<dd class="data-members-only">
					<?=$this->format_member_data($iter, $field['name'])?>
					<i class="fa fa-lock" title="<?=__('Alleen zichtbaar voor ingelogde leden')?>"></i>
				</dd>
			<?php endif ?>
		<?php elseif (get_identity()->member_in_committee(COMMISSIE_BESTUUR)): ?>
			<dt><?=label($field['label'], $field['name'])?></dt>
			<dd class="data-private">
				<?=$this->format_member_data($iter, $field['name'])?>
				<i class="fa fa-eye-slash" title="<?=__('Privé')?>"></i>
			</dd>
		<?php endif ?>
	<?php endforeach ?>
		<dt><?=label(__('Status'))?></dt>
		<dd class="data-public"><?=$this->member_type_to_string($iter['type'])?></dd>
	</dl>

	<?php
		$facebook_of_iter = get_model('DataModelFotoboekFaces')->get_book([$iter]);
		if (get_policy('DataModelFotoboek')->user_can_read($facebook_of_iter)): ?>
		<p><a href="fotoboek.php?book=member_<?=$iter->get_id()?>"><?=markup_format_text(sprintf(__('Foto\'s van %s'), member_full_name($iter))) ?></a></p>
	<?php endif ?>
</section>

<?php if ($commissies = $this->get_commissies($iter)): ?>
<section class="aligned-list-section committee-section">
	<h2 id="commissies"><?= __('Commissies') ?></h2>
	<p><?= markup_format_text(sprintf(__('%s is lid van de volgende commissies:'), member_first_name($iter, false, false))) ?></p>
	<ul class="committee-list">
		<?php foreach ($commissies as $commissie): ?>
		<li>
			<span class="position"><?=markup_format_text(__translate_parts($commissie->get('functie'), ',/')) ?></span>
			<a class="committee" href="<?=markup_format_attribute($commissie->get_absolute_url())?>"><?=markup_format_text($commissie->get('naam'))?></a>
		</li>
		<?php endforeach ?>
	</ul>
</section>
<?php endif ?>