<?php
$model = get_model('DataModelSession');
$sessions = $model->getActive($iter->get_id());
$session_view = $this->get_view('sessions');
?>
<section>
	<h2><?=__('Sessies')?></h2>
	<?php if ($this->is_current_member($iter)): ?>
	<p><?=__('Hieronder staan alle sessies die voor jouw account nog open staan.')?></p>
	<?php endif ?>
	<form method="post" action="sessions.php?view=sessions&amp;member_id=<?=$iter->get_id()?>">
		<input type="hidden" name="referer" value="profiel.php?lid=<?=$iter->get_id()?>&amp;tab=sessions">
		<table class="full-width-table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><?= __('IP-adres') ?></th>
					<th><?= __('Applicatie') ?></th>
					<th><?= __('Ingelogd') ?></th>
					<th><?= __('Laatst actief') ?></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($sessions as $session): ?>
				<tr>
					<td><input type="checkbox" name="sessions[]" value="<?=$session->get_id()?>"></td>
					<td><?=$session['ip_address']?></td>
					<td><?=$session_view->format_application($session['application'])?></td>
					<td><?=$session_view->format_time($session['created_on'])?></td>
					<td><?=$session_view->format_time($session['last_active_on'])?></td>
				</tr>
				<?php endforeach ?>
			</tbody>
		</table>
		<input type="submit" class="button" name="destroy" value="<?= __('Sluit geselecteerde sessies') ?>">
	</form>
</section>