<?php
$types = [
	MEMBER_STATUS_LID,
	MEMBER_STATUS_LID_ONZICHTBAAR,
	MEMBER_STATUS_LID_AF,
	MEMBER_STATUS_ERELID,
	MEMBER_STATUS_DONATEUR,
	MEMBER_STATUS_UNCONFIRMED
];
?>
<section class="aligned-list-section">
	<h2><?= __('Zichtbaarheid') ?></h2>
	<form action="profiel.php?lid=<?= $iter->get('lidid') ?>&amp;tab=personal" method="post" class="vertical-form">

		<div>
			<label for="field-status">Status:</label>
			<div id="field-status" class="radio">
				<?php foreach ($types as $type): ?>
				<label><?=input_radio('type', $iter->data, $type) . ' ' . $this->member_type_to_string($type) ?></label></td>
				<?php endforeach ?>
			</div>
		</div>

		<button type="submit" class="button"><?=__('Wijzig status')?></button>

		<?= input_hidden('submprofiel_zichtbaarheid', 'yes') ?>
		<?= input_hidden('id', $iter->get('lidid')) ?>
	</form>
</section>