<h1><?= __('Profiel') ?></h1>
<p><span class="error"><?= sprintf(__('Dit lid kon niet worden gevonden. Neem contact op met %s mocht dit vaker voorkomen.'), '<a href="mailto:webcie@ai.rug.nl">' . __('de WebCie') . '</a>') ?></span></p>	
