<?php
$personal_fields = [
	[	
		'label' => __('Naam'),
		'name' => 'naam',
		'read_only' => true
	],
	[
		'label' => __('Geboortedatum'),
		'name' => 'geboortedatum',
		'data' => [
			'geboortedatum' => format_date($iter->get('geboortedatum'))
		],
		'read_only' => true
	],
	[
		'label' => __('Beginjaar'),
		'name' => 'beginjaar',
		'read_only' => true
	],
	[
		'label' => __('Adres'),
		'name' => 'adres'
	],
	[
		'label' => __('Postcode'),
		'name' => 'postcode'
	],
	[
		'label' => __('Woonplaats'),
		'name' => 'woonplaats'
	],
	[
		'label' => __('Telefoonnummer'),
		'name' => 'telefoonnummer'
	],
	[
		'label' => __('E-Mail adres'),
		'name' => 'email'
	]
];

$tabs = [
	'public' => [
		'visible' => true,
		'label' => member_full_name($iter, BE_PERSONAL),
		'class' => 'fa-icon icon-public',
		'body' => function () use ($model, $iter, $personal_fields) {
			$this->render_partial('public', compact('model', 'iter', 'personal_fields'));
		}
	],
	'personal' => [
		'visible' => $this->member_write_permission($iter),
		'label' => __('Lidgegevens'),
		'body' => function () use ($model, $iter, $errors, $personal_fields) {
			$this->render_partial('personal', compact('model', 'iter', 'errors', 'personal_fields'));
		}
	],
	'profile' => [
		'visible' => $this->member_write_permission($iter),
		'label' => __('Profiel'),
		'body' => function () use ($model, $iter, $errors) {
			$this->render_partial('photo', compact('iter', 'errors'));
			$this->render_partial('profile', compact('model', 'iter', 'errors'));
			$this->render_partial('password', compact('iter', 'errors'));
		}
	],
	'privacy' => [
		'visible' => $this->member_write_permission($iter),
		'label' => __('Privacy'),
		'body' => function () use ($model, $iter) {
			$this->render_partial('privacy', compact('model', 'iter'));
		}
	],
	'mailinglists' => [
		'visible' => $this->member_write_permission($iter) || member_in_commissie(COMMISSIE_EASY),
		'label' => __('Mailinglijsten'),
		'body' => function () use ($iter) {
			$this->render_partial('mailinglists', compact('iter'));
		}
	],
	'sessions' => [
		'visible' => $this->is_current_member($iter),
		'label' => __('Sessies'),
		'body' => function () use ($iter) {
			$this->render_partial('sessions', compact('iter'));
		}
	],
	'facebook' => [
		'visible' => $this->is_current_member($iter) && get_config_value('enable_facebook_rsvp', false),
		'label' => __('Facebook'),
		'body' => function () use ($iter) {
			$this->render_partial('facebook', compact('iter'));
		}
	],
	'kast' => [
		'visible' => $this->is_current_member($iter),
		'label' => __('KAST'),
		'body' => function () use ($iter) {
			$this->render_partial('kast', compact('iter'));
		}
	],
	'system' => [
		'visible' => member_in_commissie(COMMISSIE_EASY),
		'label' => __('Systeem'),
		'class' => 'fa-icon icon-system',
		'body' => function() use ($iter) {
			$this->render_partial('visibility', compact('iter'));
		}
	]
];

$active_tab = isset($tab) && isset($tabs[$tab]) && $tabs[$tab]['visible'] == true ? $tab : 'public';

?>
<h1><?= sprintf(__('Profiel van %s'), markup_format_text(member_full_name($iter))) ?></h1>
<div class="messageBox clearfix">

	<?php if (isset($errors) && count($errors) > 0): ?>
	<div class="textCenter error-section">
		<p><span class="error"><?= __('Niet alle velden zijn goed ingevuld') ?></span></p>
		
		<?php if (isset($error_message)): ?>
		<p><?= str_replace("\n", "<br>\n", $error_message) ?></p>
		<?php endif ?>
	</div>
	<?php endif ?>

	<div id="profile-tab-container" class="tab-container">
		<div class="tab-sidebar">
			<?php $this->render_partial('profile_widget', compact('model', 'iter')) ?>
			<ul class="nav-tabs vertical">
				<?php foreach ($tabs as $tab_name => $tab): ?>
					<?php if ($tab['visible']): ?>
						<li class="<?=$tab_name == $active_tab ? 'active' : ''?> <?=isset($tab['class']) ? $tab['class'] : ''?>">
							<a href="profiel.php?lid=<?=$iter->get_id()?>&amp;tab=<?=$tab_name?>#<?=$tab_name?>-tab"><?=markup_format_text($tab['label'])?></a>
						</li>
					<?php endif ?>
				<?php endforeach ?>
			</ul>
		</div>

		<div class="tab-content">
			<div id="<?=$active_tab?>-tab" class="tab-pane active">
				<?=$tabs[$active_tab]['body']()?>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		$('#profile-tab-container > .tab-sidebar .nav-tabs li a').on('click', function(e) {
			e.preventDefault();
			$(this).closest('.nav-tabs').find('li').removeClass('active');
			$('#profile-tab-container > .tab-content > .tab-pane').removeClass('active');

			$(this).closest('li').addClass('active');

			var tabName = $(this).attr('href').match(/tab=([a-z]+)/)[1] + '-tab';

			var tab = $('#profile-tab-container > .tab-content #' + tabName);
			if (tab.length) {
				tab.addClass('active');
			} else {
				tab = $('<div>').attr('id', tabName).addClass('tab-pane active')
				tab.html('<div class="loading-indicator"><i class="fa fa-spinner fa-pulse"></i></div>');
				tab.load($(this).attr('href') + ' #profile-tab-container > .tab-content > .tab-pane#' + tabName, function() {
					$(document.body).trigger(jQuery.Event('partial-content-loaded', {target: $(this)}));
				});
				$('#profile-tab-container > .tab-content').append(tab);
			}

			window.history.pushState({'tabName' : tabName}, $(this).text(), $(this).attr('href'));
		});
	});

	$(document).on('ready partial-content-loaded', function(loaded) {
		$(loaded.target).find('form.toggle-action-button').on('submit', function(e) {
			e.preventDefault();
			var $form = $(this);
			var id = $form.attr('id');

			var tmp = document.createDocumentFragment();
			$(tmp).load($form.attr('action'), $form.serializeArray(), function() {
				var btn = tmp.querySelector('#' + id);
				$form.get(0).className = btn.className;
				$form.find('input[type=hidden]').remove();
				$form.append(btn.querySelectorAll('input[type=hidden]'));
			});
		});
	});
</script>
