<h2><?= markup_format_text(sprintf(__('Sessies van %s'), $member->get('voornaam'))) ?></h2>
<div class="messageBox">
	<form method="post" action="sessions.php?view=sessions">
		<table class="sessions-table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><?= __('IP-adres') ?></th>
					<th><?= __('Applicatie') ?></th>
					<th><?= __('Ingelogd') ?></th>
					<th><?= __('Laatst actief') ?></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($iter as $session): ?>
				<tr>
					<td><input type="checkbox" name="sessions[]" value="<?=$session->get_id()?>"></td>
					<td><?=$session->get('ip_address')?></td>
					<td><?=$this->format_application($session->get('application'))?></td>
					<td><?=$this->format_time($session->get('created_on'))?></td>
					<td><?=$this->format_time($session->get('last_active_on'))?></td>
				</tr>
				<?php endforeach ?>
			</tbody>
		</table>
		<input type="submit" class="button" name="destroy" value="<?= __('Sluit geselecteerde sessies') ?>">
	</form>
</div>
