<?php
$activiteiten = array();
$model = get_model('DataModelAgenda');

foreach ($model->get_agendapunten() as $punt)
	if ($punt->get('commissie') == $iter->get('id') && get_policy($model)->user_can_read($punt))
		$activiteiten[] = $punt;

if (count($activiteiten)): ?>
<a name="activiteiten"></a>
<h3><?= __('Commissieagenda') ?></h3>
<ul>
<?php foreach ($activiteiten as $punt): ?>
	<li>
		<a href="agenda.php?agenda_id=<?=$punt->get_id()?>"><strong><?=markup_format_text($punt->get('kop'))?></strong></a><br>
		<?=agenda_period_for_display($punt)?><br>
		<?php if ($punt->get('locatie')): ?>
			<?=__('Locatie') . ': ' . markup_format_text($punt->get('locatie'))?>
		<?php endif ?>
	</li>
<?php endforeach ?>
</ul>
<?php endif ?>
