<div class="committee-contact">
	<a href="mailto:<?=rawurlencode($iter->get('login'))?>@svcover.nl">
		<?=markup_format_text(sprintf(__('E-mail de %s via %s'), $iter->get('naam'), $iter->get('login') . '@svcover.nl')) ?></a>
</div>
