<div class="pageHeading">
	<?php if (get_policy($model)->user_can_create()): ?>
		<div class="controls inline"><a href="<?=$controller->link_to_create()?>" class="create-link"><?= __('Nieuwe commissie') ?></a></div>
	<?php endif ?>
	<h1><?= __('Commissies') ?></h1>
</div>
<div class="messageBox">
	<ul class="commissie-index">
	<?php foreach ($iter as $commissie): ?>
		<li class="commissie">
			<?php if ($commissie->get('vacancies')): ?>
			<span class="vacancy-badge"><?=__('Commissieleden gezocht!')?></span>
			<?php endif ?>
			<a href="<?=$controller->link_to_read($commissie)?>" class="link">
				<?php if ($imgpath = $this->get_commissie_thumb($commissie)): ?>
					<img src="<?=markup_format_attribute($imgpath, ENT_QUOTES)?>" class="thumbnail">
				<?php endif ?>
				<span class="overlay">
					<span class="name"><?= markup_format_text($commissie->get('naam')) ?></span>
					<span class="summary"><?= $this->get_summary($commissie) ?></span>
				</span>
			</a>
		</li>
	<?php endforeach ?>
	</ul>
</div>
