<?php
$editable = new ControllerEditable($iter->get('page'));
?>
<div class="pageheading">
	<?php if (get_policy($model)->user_can_update($iter)): ?>
	<div class="controls inline">
		<a href="<?=markup_format_attribute($controller->link_to_update($iter))?>" class="edit-link"><?=__('Wijzig commissie')?></a>
	</div>
	<?php endif ?>
	<h1><?= markup_format_text($iter->get('naam')) ?></h1>
</div>
<?php
if ($iter->get('vacancies'))
	$this->render_partial('leden_gezocht', compact('model', 'iter'));
?>
<div class="committee-page messageBox">
	<?php $this->render_partial('foto', compact('model', 'iter')) ?>

	<?php $this->render_partial('contact', compact('model', 'iter')) ?>

	<div class="content">
		<?php if($editable->user_can_update()): ?>
		<div class="controls inline">
			<a href="<?=markup_format_attribute($editable->link_to_update()) ?>" class="edit-link"><?= __('Bewerk commissiepagina')?></a>
		</div>
		<?php endif ?>
		
		<?php $editable->run() ?>

		<?php $this->render_partial('leden', compact('model', 'iter')) ?>

		<?php $this->render_partial('agenda', compact('model', 'iter')) ?>
	</div>
</div>

<?php $this->render_partial('navigation', compact('model', 'iter')) ?>
