<h1><?= __('E-mailadres bevestigen') ?></h1>
<div class="messageBox">
	<p><?=__('Je e-mailadres is bevestigd. Top! Je krijgt zo nog een mailtje met je wachtwoord en een kleine introductie over hoe de website werkt, hoe je boeken besteld, etc.')?></p>
</div>
