<?php
$e = isset($errors) ? $errors : null;

require_once 'include/controllers/ControllerEditable.php';

$voorwaarden = new ControllerEditable('Voorwaarden aanmelden');

$opmerkingen = new ControllerEditable('Opmerkingen aanmelden');

?>
<h1><?= __('Lidmaatschapsformulier') ?></h1>
<div class="messageBox">
	<?php if ($voorwaarden->user_can_update()): ?>
	<div class="controls inline">
		<a href="<?=markup_format_attribute($voorwaarden->link_to_update()) ?>" class="edit-link"><?=__('Bewerk voorwaarden')?></a>
	</div>
	<?php endif ?>
	<h2><?= __('Voorwaarden') ?></h2>
	<?php $voorwaarden->run(); ?>

	<?php if (!empty($message)): ?>
	<div class="message"><?= $message ?></div>
	<?php endif ?>

	<?php if ($e): ?>
	<div class="error-section">
		<p><?= __('Niet alle velden zijn goed ingevuld') ?></p>
	</div>
	<?php endif ?>

	<?php $this->render_partial('form', compact('e')) ?>

	<?php if ($opmerkingen->user_can_update()): ?>
	<div class="controls inline">
		<a href="<?=markup_format_attribute($opmerkingen->link_to_update()) ?>" class="edit-link right"><?=__('Bewerk opmerkingen')?></a>
	</div>
	<?php endif ?>
	<h2><?= __('Opmerkingen') ?></h2>
	<?php $opmerkingen->run(); ?>
</div>
