/* ALL ELEMENTS STYLING */
* {margin:0; padding:0;}
* html .left {
	left: 150px; 
}
/* END ALL ELEMENTS STYLING */


/* TAG STYLING, ALPHABETICALLY */

a[class*="buttonNew"] { background:url("images/new.png") no-repeat scroll left center; padding-left:26px; margin:0px 3px; display:block; line-height: 24px; min-height:24px; }
a[class*="buttonSearch"] { background:url("images/search.png") no-repeat scroll left center; padding-left:26px; margin:0px 3px; display:block; line-height: 24px; min-height:24px; }

body {
	background:url("images/swoosh.png") no-repeat scroll top center transparent;
	background-color:#3B3B3B;
	padding:0px 15px;
	font-family: verdana, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

a,
a:visited,
button.link {
	color: #F5F5F5;
	background: transparent;
	border: none;
	font: inherit;
	font-weight:bold;
	cursor: pointer;
	text-decoration:underline;
}

a:hover,
button.link:hover
{
	text-decoration: none;
}

.messageBox a,
.messageBox a:visited,
.messageBox button.link,
.buttons a,
.buttons a:visited,
.buttons button.link,
.modal .window a,
.modal .window a:visited,
.modal .window button.link { 
	color: #004274;
	text-decoration: none; 
}

.messageBox a:hover,
.messageBox button.link:hover,
.buttons a:hover,
.buttons button.link:hover,
.modal .window a:hover,
.modal .window button.link:hover {  
	color: #004274;
	text-decoration: underline;
}

h1, h2, h3 ,h4
{
	margin-bottom: 0.5em;
}

h1
{
	color: #f5f5f5;
	margin:0px 0px 10px 0px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
h3 {margin:8px 0px; }

hr.colorAccent {
	border:0;
	height:4px;
	background-color:grey;
	color: grey;
	width: 100%;
}

img {border:0;}

li.expander{
	margin-left:-17px;
}

p {
	margin:4px 0px;
}

table { margin:0 auto; }

table.poll
{
	margin: 0;
	width: 100%;
}
table.poll tr td:nth-child(2)
{
	padding: 5px;
	background-color: #d0d0d0;
	border-radius:3px;
}

table.poll .pollvoteRadio
{
	width: 25px;
}

table.profiel{
	width: 80%;
	padding: 0px 20px;
	margin:0 auto;
	text-align:left;
}

table.profiel td.right {
	width:30%;
	vertical-align:top;
}
table.profiel td.left {
	width:30%;
	text-align:right;
	padding-right:50px;
}

.profiel .avatar {
	max-width: 100px;
	max-height: 100px;
}

textarea.editable
{
	width: 100%;
	height: 300px;
}

textarea[name="message"]
{
	width: 85%;
}


ul.expander{
	margin-left:30px;
}
/* END TAG STYLING */


/* CLASS STYLING, ALPHABETICALLY */

.aff {
		width:122px; /* menu width - 20px padding */
		padding:10px;
		margin-right:-142px;
		
}
.aff img
{
	border: 1px transparent #F5F5F5;
	border-radius: 3px;
	box-shadow: 0px 2px 3px #333;
	width: 120px;
}

table.agenda {
	display: block;
}

table.agenda .vandatum {
	vertical-align: top;
}

.menu_contents .agenda li {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 5px;
}

.menu_contents .agenda .calendar-icon {
	position: absolute;
	top: 2px;
	left: 0;
	border-color: #000;
	font-weight: normal;
	color: #000;
}

.menu_contents .agenda .details {
	display: block;
	font-weight: normal;
}

.menu_contents .agenda .label-pending {
	display: inline-block;
	background: #FFD700;
	padding: 4px;
	border-radius: 4px;
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
}

.menu hr {
	display: block;
	height: 1px;
	border: none;
	background: #000;
}

.align-right {text-align:right;}
.align-center {text-align:center;}

.almanak
{
}

.bannerList
{
		margin: 10px 0px !important;
		padding: 0px;
}
.bannerList td
{
		height: 150px;
		background-color: #ddd;
		float: left;
		margin: 8px;
}
.bannerList td img
{
		margin: 0 auto;
		vertical-align: middle;
}

.topbar {
background-color:#F5F5F5;
color:#000;
float:left;
width: 96%;
height: 36px;
margin-bottom: 0px;
padding: 15px 2%;
	min-height:10px;
	height:auto !important;
}
.topbar a, .topbar a:visited, .bar a, .bar a:visited
{
	color: #004274;
}
.topbar a:hover, .bar a:hover
{
	text-decoration: underline;
}

.bar {
	min-height:10px;
	height:auto !important;
background-color:#F5F5F5;
color:#000;
float:left;
width:96%;
padding: 15px 2%;
margin-bottom: 0px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}

.messageBox .bar {
	background: transparent;
}

.messageBox .right {
	position: absolute;
	right: 18px;
}

.bannerRotator
{
	width: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
}
.bannerRotator a
{
	display: block;
	text-align: center;
}
.bannerRotator .frontpage_banner
{
	border: 1px transparent #7D7D7D;
	border-radius: 3px;
	box-shadow: 0px 2px 5px #333;
	max-width: 100%;
}

.colorAccent.board {
	background-color:#b80a0a !important;
	color: #b80a0a !important;
}

.colorAccent.activitee,
.colorAccent.almanaccee,
.colorAccent.bookcee,
.colorAccent.brainstorm,
.colorAccent.sportee,
.colorAccent.eerstejaarscie,
.colorAccent.excie,
.colorAccent.foetsie,
.colorAccent.photocee,
.colorAccent.introcee,
.colorAccent.audicee,
.colorAccent.lancie,
.colorAccent.lustrumcie,
.colorAccent.mxcee,
.colorAccent.aphroditee,
.colorAccent.pc,
.colorAccent.comexa,
.colorAccent.promotie,
.colorAccent.memory,
.colorAccent.abcee,
.colorAccent.sympocie,
.colorAccent.webcie
{
	background-color: #2a65bd !important;
	color: #2a65bd !important;
}

.button, .button:visited
{
	border: 1px solid #666;
	border-radius: 3px;
	background-color: #ddd;
	padding: 4px 8px;
	cursor: pointer;
	font: 12px sans-serif;
	color: #000;
}

.button.active,
.button.wysihtml5-command-active
{
	background: #aaa;
}

.button:hover
{
	background: #ddd;
}

.button:active,
{
	background: #aaa;
}

.button img {
	vertical-align: middle;
}

.buttons
{
	background-color: #E5E5E5;
	margin: 10px 0px;
	border: 1px solid #8486A1;
	border-radius: 4px;
}
.buttons a
{
	padding: 3px 0px;
	display:inline-block;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
}

.button-bar .button,
.button-bar .button-group {
	vertical-align: middle;
}

.button-group {
	display: inline-block;
}

.button-group .button {
	float: left;
	border-radius: 0;
	border-width: 1px 0 1px 1px;
}

.button-group .button:first-child {
	border-radius: 3px 0 0 3px;
}

.button-group .button:last-child {
	border-radius: 0 3px 3px 0;
	border-width: 1px 1px 1px 1px;
}

.button-menu {
	position: relative;
}

.button-bar .button-menu ul {
	left: 0;
	right: 0;
	top: 22px;
	margin: 0;
	background: #eee;
	position: absolute;
	display: none;
	border: 1px solid #666;
	border-top: 0;
}

.button-menu ul li {
	list-style: none;
}

.button-menu ul li a {
	display: block;
	padding: 4px 8px;
	border-bottom: 1px solid #ccc;
	color: black;
	font-weight: normal;
	text-decoration: none;
}

.button-menu ul li a:hover {
	background: #ddd;
	color: black;
	text-decoration: none;
}

.button-menu ul li:last-child a {
	border-bottom: none;
}

.button-menu .button:focus + ul {
	display: block;
}

.large-button, .large-text {
	font-size: 22px;
}

.bookcee-webshop-call-to-action {
	text-align: center;
}

.bookcee-webshop-call-to-action .large-button {
	/*padding-right: 30px;*/
}

.bookcee-webshop-call-to-action .large-button:after {
	padding-left: 4px;
	content:'\25b8';
	color: #333;
}

.bold {font-weight:bold;}
.center {
		width:100%;
		padding:10px 0px;
}

.alignCenter {
	text-align:center;
}

.column {
		float:left;
		position:relative;
}

.container {
		padding-left:210px; /* menu width */
		padding-right:142px; /* aff width + 22px padding */
		background-color: rgb(102,102,102);
		background-color:rgba(255,255,255,0.2); /* IE9+ and new versions of firefox, chrome etc. ONLY!!! */
		min-width:535px;
		max-width:850px; /* plus padding-left and padding-right for total width (currently 350px) */
		margin:0 auto;
		border-radius:5px;
	 /* overflow:hidden;*/
}

.controls{
	display: block;
	height: 42px;
	line-height: 42px;
}

.controls a
{
	display:inline-block;
	vertical-align: middle;
}

.controls img {
	vertical-align: middle;
	margin-right: 4px;
}

.controls.inline
{
	float: right;
	height: 30px;
	line-height: 30px;
}

.clearBoth {
	clear: both;
}

.expander_menu {
	display:none;
}
/*.foto { float:left; padding: 10px; text-align:center; }
.foto img {
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px #555;
}*/
.photobooks {
	white-space-collapse: discard;
}

.photobook {
	float: left;
	position: relative;
	padding: 15px;
	width: 125px;
	height: 150px;
	text-align: center;
}

.photobook .photo-book-title {
	display: block;
	height: 44px;
	margin: 4px 0;
	font-weight: normal;
	color: black;
}

.photobook .controls {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 65px;
	text-align: center;
	display: block;
	font-size: 16px;
	line-height: 16px;
}

.photobook .controls a {
	color: #000;
}

.photobook.unread .photo-book-title:after {
	content: '(new!)';
	color: #c60c30;
}

.photobook-box .mark-read-button {
	float: right;
}

.floatLeft { float:left; }
.floatRight { float:right; }

.messageBox.frontpage
{
	padding-top: 30px;
	margin-bottom: 15px;
}

.world > .header
{
	color:#FFF;
	position: relative;
	padding: 0;
	max-width:1200px;
	min-width: 810px;
	margin: 20px auto;
	height: 82px;
}

.world > .header > .message
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 400px;
	margin: auto;
	background-color: #666;
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 10px;
	color:#fff;
	text-align:center;
	border: 1px solid darkgrey;
}
.world > .header .message a
{
	color: #fff;
	font-weight:bold;
}

.world > .header > .cover-logo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 82px;
}

.world > .header > .login {
	position: absolute;
	bottom: -10px;
	right: 0;
	text-align:right;
	vertical-align: bottom;
}

.login > table {
	margin: 0;
	border-spacing: 0;
}

.login table tr > td {
	padding: 2px 0;
}

.login table a {
	display:block;
	float:right;
	color:#f5f5f5;
	font-weight:bold;
	font-size:10px;
	margin:5px 0px;
}

.login a {color:#000; text-decoration:none;}
.login .button 
{
	padding: 3px 5px; font-weight:bold;
	border:0; margin: 5px 0px 0px 5px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;

}
.login .logButton, .button
{
	background-image: linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -o-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(221,221,221)),
		color-stop(0.6, rgb(245,245,245))
	);
}

.button {
	color: black;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
}

.login .textField 
{
	border:0; padding: 3px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	width: 150px;


}

.login .logButton,
.login .logLink
{
	display:block; float:right; 
	padding: 3px 5px; margin: 5px 0px 5px 5px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	font-weight:bold;
}

.login .logButton:hover
{
	text-decoration:none;
	box-shadow:0px 0px 3px #fff;
}

.login .logLink {
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
}

.marginAuto { margin: 0 auto; }

.menu {
		width:190px; /* menu width - 20px padding */
		padding:10px;
		margin-left:-100%;
		right:210px; /* menu width */
		
}
.menu a{color:#004274; text-decoration: none;}
.menu a:hover
{
	text-decoration:underline;
}

.menu ul{ list-style-type:none; }
.menu ul.links{
	margin-left:17px;
}
.menu ul.star li{margin:3px auto;}
.menuItem{
	color:#000000;
	margin-bottom:10px;
	padding-bottom:10px;
	background-color: #f5f5f5;
	box-shadow:1px 1px 4px #000000;
	-moz-box-shadow:1px 1px 4px #000000;
	-webkit-box-shadow:1px 1px 4px #000000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.menuItem > *{
	padding:10px;
}
.menuItem > a{
	padding:3px 10px;
	display:block;
	position: absolute;
	right: 10px
}

.menuItem .menu_header
{
	padding-top: 3px;
}
.menuItem hr.menu_contents {
	padding:0;
	padding-top: 0px; 
	margin-top: 0px;
	margin-bottom:5px;
	height:5px;
	border:0; 
	background-color: #C60C30;
	color: #C60C30;
}

.menuItem.search {
	position: relative;
	padding-bottom: 0;
	box-shadow: none;
	background: transparent;
}

.menuItem.search > * {
	padding: 0;
}

.menuItem.search label {
	position: absolute;
	top: 4px;
	left: 6px;
	color: white;
}

.menuItem.search input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: border-box;
	background: transparent;
	color: white;
	font: inherit;
	padding: 4px 4px 4px 18px;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
}

.menuItem.search input[type=search]:focus {
	border-color: white;
	outline: none;
}

.messageBox {
	position: relative;
	color:#000000;
	padding:15px;
	margin-bottom: 30px;
	background: #f5f5f5 url('images/cbox-bg.png') repeat-x scroll left top ;
	border-bottom-left-radius:4px; border-bottom-right-radius:5px;
}

.messageBox .almanak form { text-align:center; margin: 0 auto; }
.messageBox .bericht
{
	margin-top: 10px;
}
.messageBox .button
{
	margin: 5px 0px;
}

.messageBox a.button {
	color: black;
	text-decoration: none;
}

.messageBox ul {
	list-style-position: inside;
	margin: 10px 0px;
	margin-left: 15px;
}
.messageBox h1, .messageBox h2, .messageBox h3, .messageBox h4
{
	color: #333;
}

.messageBox h1 .permalink,
.messageBox h2 .permalink,
.messageBox h3 .permalink {
	color: inherit;
	font-weight: inherit;
}

.messageBox .section {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.messageBox .section:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.actions,
.messageBox .actions { /* Override default .messageBox ul styling */
	list-style: none;
	display: inline-block;
	margin: 1em 0 0 0;
}

.actions li {
	margin: 0 1em 0 0;
	padding: 0;
	display: inline-block;
}

.actions li a {
	/*font-weight: normal;*/
}

.newsHeading {
	clear: both;
}

.newsHeading > * {
	line-height: 29px;
	display: inline-block;
}

.newsTitle
{
	margin-top: -20px;
}
.newsTitle .right
{
	font-weight: bold;
	font-size: 11px;
	float:right;
	margin-top: -5px;
}
.newsTitle .subject
{
	margin: 10px 0px;
	font-weight: bold;
}
.newsTitle .subtitle
{
	font-size: 11px;
	margin-bottom: 15px;
}

.pcie {background-color:#00aeff !important;}
.profilehead {text-align:center;}
.almanak .hint {
	width: 400px;
}

.replyBox 
{ 
	background-color: #f0f0f0; margin: 10px 0px; padding: 0px 10px 10px 10px; 
	box-shadow:0px 0px 3px rgba(0,0,0,0.25); 
	-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.25);
	border: 1px solid #73ACFF;

}
.replyBox:nth-child(odd) 
{ 
	background-color: #e5e5e5; 
	background-image:none;
}
.replyBox .replyDetails
{
	display:block;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 8px 0px; margin-bottom: 5px;
}
.replyBox .right
{
	font-weight:normal; font-size:10px;
	display:inline-block; float:right;
	margin:0;
}

.replyBox .right > *:after {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 18px;
	content: '';
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.replyBox .right > *:last-child:after {
	display: none;
	/*margin-right: -8px;*/
}

.replyBox .title { font-weight:bold; }
.replyBox .subtitle { font-weight: normal; font-size:10px; padding: 0px 0px 5px 0px; }

span.right { text-align:right; }
.right { text-align:right; margin: 3px 0; }

.smaller
{
font-size: 10px;
}

.topMenu
{
	margin: 0 auto;
	height: 63px;
	margin-bottom: 15px;
	min-width:850px; max-width:1200px;
}
.topMenu ul { text-align:center; list-style:none; }
.topMenu ul li { display:inline; margin:3px 7px;}
.topMenu a {color:#fff; text-decoration:none;}
.topMenu a:hover { text-decoration:underline; }

.headNav
{
	height: 40px;
	background-image: url('images/menubg.png'); background-repeat:repeat-x;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow: 0px 2px 7px #333;
	position:relative; z-index:1;
	font-weight:bold; font-size:14px;
	text-shadow:1px 1px 0px #000;
}
.headNav li { line-height: 40px; }
.headNav li.dropDown
{
	padding-left: 12px;
	background-image: url("images/collapsed.png"); background-repeat:no-repeat;
	background-size: 12px 12px;
	background-position: center left;
}
.headNav li.expanded
{
	background-image: url("images/expanded.png") !important;
	background-position: bottom left;
}

.separator
{
	border: 0;
	border-top: 1px solid #aaa;
}

.subNav ul { background-color: #333; display:none; }
.subNav ul.expander { margin:0px 4px; padding: 4px 0px 5px 0px; }
.subNav a
{
	font-weight: normal;
}

.textCenter, .text_center
{
	text-align:center;
}

.error-section {
	background: #c60c30;
	color: white;
	padding: 4px;
	font-size: 1.2em;
}

.warning-section {
	background: #FFD700;
	color: black;
	padding: 4px;
	border-radius: 4px;
}

.warning-section a {
	color: black;
}

.label_error:before {
	content: '!';
	text-align: center;
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
	margin: 0 4px;
	background: #c60c30;
	border-radius: 50%;
	color: #fff;
}

.vote {
	font-size: 9px;
	display: inline;
	height: 10px;
	background-image: url("images/pgspgs.png");
	vertical-align: middle;
}

.vote img.end {
	vertical-align: bottom;
}
/* END CLASS STYLING */


/* ID STYLING, ALPHABETICALLY */

/* END ID STYLING */


/* FIXES AND PATCHES, DO NOT TOUCH!!! */

/*Onestat bullshit */
#OneStatTag {
	position:static !important;
}

/*Clearfix bullshit */
.clearfix:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
}

.clearfix {
		display: inline-block;
}

html .clearfix {
		display: block;
}

* html .clearfix {
		height: 1%;
}
/* END FIXES AND PATCHES */

/* menu's standaard ingeklapt... */
div.beheer {
	/*
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 0px;
	padding: 10px;*/
	display: none;
	color: #000;
	background-color: #F5F5F5;
	margin-top: 10px;
	width: 100%;
	/*
	border-top: 1px solid #8486a1;
	border-bottom: 1px solid #8486a1;
	margin-bottom: 15px;*/
}

div.beheer table {
	margin: 0 auto;
	width: 90%;
}

.full-width-table {
	width: 100%;
	border-collapse: collapse;
}

.full-width-table th {
	text-align: left;
}

.full-width-table td {
	border-bottom: 1px solid #ccc;
	line-height: 2.4em;
}

.purchase-admin td {
	font-style: italic;
}

.purchase-reverted td {
	text-decoration: line-through;
}

th.numeric,
td.numeric {
	text-align: right;
}

th.timestamp,
td.timestamp {
	text-align: right;
}

#language-switch {
	position: absolute;
	right: 4px;
	top: 0;
	line-height: 24px;
	display: block;
	margin: 8px;
	background: #3B3B3B;
	border-radius: 3px;
}

/* Hide submit button and radio buttons */
#language-switch button,
#language-switch label > input {
	display: none;
}

#language-switch label > span {
	font-weight: normal;
	float: left;
	padding: 0 4px;
}

/* Underline as a link on hover */
#language-switch label:hover span {
	text-decoration: underline;
	cursor: pointer;
}

/* Show the currently chosen language */
#language-switch input[checked] + span {
	text-decoration: underline;
}

.timeline-container {
	position: relative;
	overflow: hidden;
}

.timeline-line {
	height: 100%;
	position: absolute;
	left: 50%;
	width: 2px;
	background: #b80a0a;
	bottom: 10px;
	margin-left: -1px;
	z-index: 10;
}

.timeline-footer {
	clear: both;
	text-align: center;
}

.timeline-event {
	width: 49%;
	border-radius: 4px;
	position: relative;
}

.timeline-event.full-width {
	width: 100%;
	clear: both;
	z-index: 15;
	text-align: center;
}

.timeline-event:nth-child(even) {
	float: right;
	clear: right;
}

.timeline-event:nth-child(odd) {
	float: left;
	clear: left;
}

.timeline-event .messageBox {
	padding: 15px;
	border-radius: 4px;
}

.timeline-event.bestuur .messageBox {
	padding: 0;
	border-radius: 4px;
}

.timeline-event.bestuur .board-photo {
	border-radius: 4px 4px 0 0;
}

.timeline-event.bestuur .messageBox .content {
	padding: 15px;
}

.timeline-event .messageBox:before {
	border: 7px solid;
	content: '';
	display: block;
	position: absolute;
	z-index: 5;
}

.timeline-event:nth-child(even) .messageBox:before {
	border-color: transparent #f5f5f5 transparent transparent;
	top: 15px;
	right: 100%;
}

.timeline-event:nth-child(odd) .messageBox:before {
	border-color: transparent transparent transparent #f5f5f5;
	top: 15px;
	left: 100%;
}

.youtube-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
 
.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.committee-page {
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.committee-page.messageBox {
	padding: 0;
}

.committee-page.messageBox .content {
	padding: 15px;
}

.commissie_foto {
	
}

.commissie_foto img {
	display: block;
	width: 100%;
}

.commissie_foto.vertical {
	width: 50%;
	float: left;
	margin-right: 15px;
}

.commissie-members ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.commissie-members li {
	display: inline;
}

.commissie-members .commissie-member {
	display: inline-block;
	vertical-align: top;
	width: 125px;
	overflow: hidden;
	margin-bottom: 16px;
}

.commissie-members .commissie-member .name {
	display: block;
}

.commissie-members .commissie-member .function {
	display: block;
	font-weight: normal;
}

.vertical-form > div,
.vertical-form > fieldset {
	margin-bottom: 10px;
}

.vertical-form > div:last-child,
.vertical-form > fieldset:last-child {
	margin-bottom: 0;
}

.vertical-form label {
	display: block;
}

.vertical-form label:after {
	content: ':';
}

.vertical-form input[type=text],
.vertical-form input[type=email],
.vertical-form input[type=password],
.vertical-form textarea {
	width: 100%;
}

.vertical-form input + label {
	display: inline-block;
}

.vertical-form input + label:after {
	content: '';
}

.vertical-form input:disabled + label {
	color: #bbb;
}

.vertical-form label.label_error + input,
.vertical-form label.label_error + textarea {
	background-color: #e5c8cc;
}

.vertical-form label + input + p,
.vertical-form label + textarea + p,
.vertical-form input + label + p {
	font-size: 0.85em;
}

.vertical-form table {
	margin: 0;
}

.vertical-form table th {
	text-align: left;
}

.vertical-form .option-group {
	list-style: none;
	line-height: 20px;
}

.vertical-form .option-group.columns {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

.vertical-form fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
}

.vertical-form fieldset legend {
	margin-left: 0;
}

.vertical-form .button-bar {
	margin-bottom: 0;
}

.vertical-form .radio label {
	position: static;
	display: block;
}

.vertical-form .controls .button.primary {
	float: right;
	line-height: 42px;
	margin: 0 0 0 10px;
	padding: 0 30px;
}

.vertical-form .delete-link,
.vertical-form .delete-link:hover,
.vertical-form .delete-link:visited {
	float: right;
	color: red;
	line-height: 24px;
	margin: 5px 0;
}

.mailinglists .mailinglist {
	margin-bottom: 1em;
}

.mailinglists .list-name {
	display: inline-block; 
}

form input[type=text],
form input[type=date],
form input[type=email],
form input[type=password],
form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px;
}

.file-upload-button {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.file-upload-button input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
}

.ui-widget-overlay {
	background: #000;
}

.cover-logo {
	width: 250px;
	height: 82px;
}

#sticker-map {
	width: 100%;
	height: 640px;
	border-radius: 4px;
}

#sticker-info-window {
	min-width: 150px;
	min-height: 30px;
	padding: 10px 0 10px 10px;
}

#sticker-info-window,
#sticker-info-window a {
	color: black;
}

#sticker-info-window .sticker-photo > img {
	width: 300px;
}

#sticker-info-window .controls {
	text-align: center;
	height: auto;
}

#sticker-info-window .controls form {
	display: inline;
}

#sticker-info-window .controls .button {
	display: inline-block;
	vertical-align: bottom;
}

form.add-sticker-form {
	position: relative;
	height: 100%;
	width: 450px;
	min-height: 450px;
}

form .sticker-location-picker {
	position: absolute;
	top: 142px;
	bottom: 42px;
	left: 0;
	right: 0;
	border-radius: 4px;
}

form .sticker-location-map {
	width: 100%;
	height: 100%;
}

form.add-sticker-form button {
	position: absolute;
	bottom: 8px;
}

.event-cover-photo {
	width: 100%;
	padding-top: 38%;
	position: relative;
	z-index: 2;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}

.event-cover-photo > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.event-cover-photo > div > img {
	width: 100%;
}

.event-header {
	position: relative;
	min-height: 50px;
	z-index: 3;
}

.calendar-icon {
	display: inline-block;
	position: relative;
	width: 25px;
	height: 25px;
	vertical-align: baseline;
	margin-bottom: -3px;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
}

.calendar-icon > * {
	position: absolute;
	left: 0;
	right: 0;
}

.calendar-icon .month {
	text-transform: uppercase;
	top: 1px;
	font-size: 8px;
}

.calendar-icon .day {
	bottom: 0;
	font-size: 13px;
}

.event-header .calendar-icon {
	border-color: white;
}

.event-header h1 {
	display: inline;
	color: white;
	height: 50px;
	line-height: 50px;
	margin: 0;
	z-index: 2;
}

.event-header .event-cover-photo + .calendar-icon {
	position: absolute;
	margin-bottom: 0;
	bottom: 11.5px;
	left: 11.5px;
	z-index: 4;
}

.event-header .event-cover-photo + .calendar-icon + h1 {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 15px;
	text-indent: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 150px;
}

.event-header .rsvp-status-button {
	margin-right: 15px;
}

.rsvp-status-button {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 4;
	line-height: 50px;
}

.rsvp-status-button > .current {
	display: inline-block;
	color: black;
}

.dropdown-button.open .dropdown-menu {
	display: block;
}

.rsvp-status-button .dropdown-menu {
	display: none;
	list-style: none;
	position: absolute;
	top: 42px;
	right: 0;
	z-index: 10;
	background: #f5f5f5;
	
	line-height: 32px;
	box-shadow: 1px 1px 4px #333;
}

.rsvp-status-button .dropdown-menu:before {
	border: 7px solid;
	border-color: transparent transparent #f5f5f5 transparent;
	content: '';
	display: block;
	position: absolute;
	top: -14px;
	right: 14px;
	z-index: 5;
}

.rsvp-status-button .dropdown-menu > li  {
	border-bottom: 1px solid #ccc;
}

.rsvp-status-button .dropdown-menu > li:last-child  {
	border-bottom: none;
}

.rsvp-status-button .dropdown-menu > li > button {
	cursor: pointer;
	background: none;
	border: none;
	font: inherit;
	text-align: center;
	padding: 0 12px;
	width: 100%;
}

.rsvp-status-button .dropdown-menu > li > button:hover {
	text-decoration: underline;
}

.event-header .event-attendees {
	position: absolute;
	bottom: 50px;
	right: 15px;
	left: 15px;
	list-style: none;
	margin-top: 6px;
	z-index: 10;
	text-align: right;

	display: none;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

.event-header .event-attendees li a {
	vertical-align: bottom;
	line-height: auto;
	position: relative;
	font-weight: normal;
	text-decoration: none;
	margin-left: 4px;
}

.event-header .event-attendees li:nth-child(n+40) {
	display: none;
}

@media (max-width: 1000px) {
	.event-header .event-attendees li:nth-child(n+30) {
		display: none;
	}
}

@media (max-width: 920px) {
	.event-header .event-attendees li:nth-child(n+20) {
		display: none;
	}
}

.event-header .event-attendees li img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #333;
}

.event-header .event-attendees li .name {
	display: none;
}

.event-header .event-attendees li:hover .name {
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	width: auto;
	text-align: center;
	background: #f5f5f5;
	color: black;
	white-space:nowrap;
	padding: 4px;
	box-shadow: 1px 1px 4px #333;
	z-index: 10;
}

.event-header .event-attendees li:hover .name:before {
	border: 7px solid;
	border-color: transparent transparent #f5f5f5 transparent;
	content: '';
	display: block;
	position: absolute;
	top: -14px;
	left: 10px;
	z-index: 5;
}

.event-header:after {
	content: '';
	clear: both;
	display: block;
}

form.inline-form {
	display: inline;
}

.contenteditable {
	display: inline-block;
	width: 100%;
}

.mailinglist-embed {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	clear: both;
}

.mailinglist-embed h2 {
	background: transparent url(images/mail.svg) left center / 35px no-repeat;
	text-indent: 40px;
}

.heading-with-controls {
	clear: both;
}

.heading-with-controls h2 {
	display: inline-block;
	margin-right: 10px;
}

.heading-with-control * {
	line-height: 20px;
}

.create-link:before,
.edit-link:before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f067";
	display: inline-block;
	padding-right: 3px;
}

.edit-link:before {
	content: "\f044";
}

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}

input.cmn-toggle-round + label {
	padding: 0;
	width: 36px;
	height: 18px;
	background-color: #dddddd;
	border-radius: 18px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #f1f1f1;
	border-radius: 18px;
	transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
	width: 16px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
	background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
	margin-left: 18px;
}

/* jQuery UI */

body .ui-corner-all {
	border-radius: 2px;
}

body .ui-menu .ui-menu-item .ui-state-focus {
	background: #c60c30;
	color: white;
	border: none;
	margin: 0;
}

body .ui-menu .ui-corner-all {
	border-radius: 0;
}

body .ui-menu .ui-menu-item {
	margin-bottom: 2px;
}

body .ui-menu .ui-menu-item:last-child {
	margin-bottom: 0;
}

body .ui-autocomplete a.profile {
	display: block;
	height: 45px;
	position: relative;
	overflow: hidden;
	padding: 0 0 0 35px;
}

body .ui-autocomplete a.profile .picture {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

body .ui-autocomplete a.profile .starting-year {
	display: block;
	color: #ccc;
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	overflow: auto;
}

.modal > .window {
	z-index: 110;
	display: inline-block;
	text-align: left;
	margin: 100px 0;
	padding: 20px;
	background: white;
	border-radius: 4px;
	min-width: 300px;
	min-height: 50px;
	max-width: 800px;
	position: relative;
}

.modal > .window {
	color: black;
}

.modal > .window > .close-button {
	border: none;
	background: transparent;
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	right: 0;
	top: 0;
	cursor: pointer;
	z-index: 100;
}

.modal > .window > .close-button:hover {
	/*text-shadow: 0 0 3px rgba(64, 64, 255, 0.6);*/
	background: #c60c30;
	color: #fff;
	border-radius: 0 4px 0 0;
}

body.modal-open > .world,
.modal + .world {
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
}

body.modal-open {
	overflow: hidden;
}

.privacy-preference-form {
	width: 400px;
}


.navigation {
	height: 20px;
	line-height: 20px;
	position: relative;
	text-align: center;
}

.navigation .previous:before,
.navigation .next:before,
.navigation .up:before {
	position: absolute;
	top: 0;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	line-height: 20px;
	transition: left 200ms, right 200ms, top 200ms;
}

.navigation .previous:before {
	left: 0;
	content: '\f053';
}

.navigation .previous:hover:before {
	left: -1px;
}
.navigation .next:before {
	right: 0;
	content: '\f054';
}

.navigation .next:hover:before {
	right: -1px;
}

.navigation .up:before {
	top: -16px;
	left: 0;
	right: 0;
	content: '\f077';
}

.navigation .up:hover:before {
	top: -17px;
}

.navigation .previous {
	position: absolute;
	padding-left: 12px;
	top: 0;
	left: 0;
}

.navigation .next {
	position: absolute;
	padding-right: 12px;
	top: 0;
	right: 0;
}

.navigation .up {
	position: relative;

}

.promotional-header {
	position: relative;
	box-sizing: border-box;
	min-width: 850px;
	max-width: 1200px;
	/*margin: -25px auto 15px auto;*/
	margin: 0 auto 15px auto;
	padding: 60px 5%;
	border-radius: 5px;
	font-size: 2em;
	overflow: hidden;

	/* Trick to stop Safari from flickering */
	-webkit-transform:translate3d(0,0,0);
}

.promotional-header h1,
.promotional-header p,
.promotional-header a {
	z-index: 1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.promotional-header .button {
	background: transparent;
	color: white;
	font-size: 1em;
	border: 2px solid white;
	padding: 20px 40px;

	border-radius: 8px;
	box-shadow: 0 1px rgba(0,0,0,0.5);

	position: absolute;
	right: 5%;
	bottom: 40px;
}

.promotional-header .button:hover {
	background: rgba(255, 255, 255, 0.3);
}

.promotional-header .button:active {
	background: rgba(255, 255, 255, 0.6);
}

.promotional-header .background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	opacity: 0.001;
	transition: opacity 1000ms ease-in-out;
	background-size: cover;
}

.promotional-header .background.current {
	opacity: 0.9;
}

.promotional-header .background-0 {
	background-image: url(images/promotional-header/llama-0.jpg)
}

.promotional-header .background-1 {
	background-image: url(images/promotional-header/llama-1.jpg)
}

.promotional-header .background-3 {
	background-image: url(images/promotional-header/borrel.jpg);
}

.promotional-header .background-4 {
	background-image: url(images/promotional-header/introkamp.jpg);
}

.promotional-header .background-5 {
	background-image: url(images/promotional-header/lanparty.jpg);
}

.profile-widget {
	display: inline-block;
	position: relative;
	width: 150px;
	text-align: center;
}

.profile-widget h3:before {
	content: "\201C";
	color: #999;
}

.profile-widget h3:after {
	content: "\201D";
	color: #999;
}

.profile-widget > img,
.profile-widget > a > img {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

a.profile-widget:after {
	content: '';
	border: 1px solid rgba(32, 32, 32, 0.25);
	position: absolute;
	top: 0;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 50%;
	box-sizing: border-box;
}

.search .search-widget {
	display: flex;
	align-items: flex-start;
}

.search .search-widget label {
	display: none;
}

.search .search-widget input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: border-box;
	border: 1px solid #333;
	flex: 1 1 auto;
	margin: 0;
	padding: 0 5px;
	font: inherit;
	font-size: 14px;
	height: 32px;
	border-radius: 4px;
	background: white;
}

.search .search-widget button {
	flex: 0 1 auto;
	height: 32px;
	margin: 0 0 0 6px;
}

.search-results > li {
	display: block;
	list-style: none;
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
}

.search-results > li.focussed {
	background: rgb(255,255,224);
}

.search-results h2 {
	position: relative;
}

.search-results h2 small {
	color: #333;
	font-weight: normal;
	font-size: 12px;
	/*position: absolute;
	right: 0;
	bottom: 0;*/
	line-height: 22px;
}

.search-results h2 small:before {
	content: '(';
}

.search-results h2 small:after {
	content: ')';
}

.search-result-member .profile-widget {
	margin-right: 10px;
}

.search-result-member dl {
	vertical-align: top;
	display: inline-block;
}

.search-result-member dl dt {
	font-weight: bold;
	clear:left;
}

.search-result-member dl dd {
	margin-bottom: 4px;
}

.search-results li .keyword {
	font-weight: bold; 
}

.search-results li .glue {
	color: #ccc;
}

.search-results > li .photos {
	height: 200px;
	overflow: hidden;
}

/* Ugly fix for the companies page, will come up with a solution in the new layout -Martijn */

#page_51 table.markup_default td img, table.markup_noborder td img {
	max-width: 240px !important;
}

.working-groups {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}

.working-groups > .working-group {
	width: 320px;
	margin: 10px auto;
}

.working-group {
	padding: 0 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	
}

.working-group > h3 {
	border-bottom: 1px solid #c60c30;
	margin: 0 -20px;
	padding: 0 20px;
	line-height: 40px;
}

.working-group > p {
	margin: 20px 0;
}

.working-group > ul {
	list-style: none;
	margin: 0 -20px;
}

.working-group > ul > li {
	padding: 0 20px;
	line-height: 40px;
	border-top: 1px solid #ccc;
}

.working-group > ul > li > a {
	line-height: inherit;
	display: inline-block;
	width: 100%;
	margin: 0 -20px;
	padding: 0 20px;
}

.working-group > ul > li > a > img {
	width: 32px;
	height: 32px;
	border: 1px solid #ccc;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

/*
.working-group {
	position: relative;
	padding-right: 300px;
	margin-bottom: 40px;
}

.working-group > ul {
	position: absolute;
	top: 15px;
	right: 0;
	width: 280px;
}
*/

.list-group > .list-group-item {
	border: 1px solid #ccc;
	border-bottom-width: 0;
	padding: 12px;
	position: relative;
}

.list-group > .list-group-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-group > .list-group-item:last-child {
	border-bottom-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.list-group > .list-group-item.list-group-item-with-action {
	padding-right: 120px;
}

.list-group > .list-group-item .list-group-item-action {
	position: absolute;
	top: 5px;
	right: 14px;
}

.tab-pane .aligned-list-section {
	margin-left: 140px;
	position: relative;
}

.tab-pane .aligned-list-section .hint {
	font-style: italic;
}

.tab-pane .aligned-list-section h4 {
	display: block;
	width: 130px;
	position: absolute;
	left: -140px;
	text-align: right;
	color: #000;
	font-weight: normal;
}

.aligned-list-section .vertical-form > div {
	position: relative;
	line-height: 24px;
}

.aligned-list-section .vertical-form > div label {
	display: block;
	width: 130px;
	position: absolute;
	left: -140px;
	text-align: right;
	color: #000;
}

.aligned-list-section .vertical-form > div label:after {
	content: '';
}

.aligned-list-section .vertical-form > div div.radio label {
	position: static;
	text-align: left;
	width: auto;
}

dl.profile,
ul.committee-list {
	margin-left: -140px;
	display: inline-block;
	position: relative;
	list-style: none;
	line-height: 24px;
}

dl.profile > dd,
ul.committee-list > li {
	margin-left: 140px;
}

dl.profile > dd > a,
ul.committee-list > li > a {
	font-weight: normal;
	text-decoration: underline;
}

dl.profile > dd .fa,
ul.committee-list > li .fa {
	color: #999;
}

dl.profile > dt,
ul.committee-list > li .position {
	position: absolute;
	left: 0;
	width: 130px;
	color: #999;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.toggle-action-button .button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 2px;
	width: 48px;
	height: 24px;
	background: #999;
	border: none;
	border-radius: 12px;
	transition: background 0.4s;
	text-indent: 48px;
	overflow: hidden;
}

.toggle-action-button .button:before,
.toggle-action-button .button:after {
  display: block;
  position: absolute;
  content: "";
}
.toggle-action-button .button:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #f5f5f5;
  border-radius: 60px;
  transition: background 0.4s;
}
.toggle-action-button .button:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #999;
  border-radius: 50%;
  transition: margin 0.4s, background 0.4s;
}

.toggle-action-button.toggle-state-active .button {
	background-color: #43B80B;
}

.toggle-action-button.toggle-state-active .button:after {
	background-color: #43B80B;
	margin-left: 24px;
}

.toggle-action-button:hover .button:after {
	margin-left: 4px;
}

.toggle-action-button.toggle-state-active:hover .button:after {
	margin-left: 20px;
}

#login-form {

}

#login-form .vertical-form > div {
	margin-bottom: 15px;
}

#login-form  input[type] {
	font-size: 22px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#login-form .nav-tabs {
	display: block;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
	padding: 0 10px;
	text-align: center;
}

#login-form .nav-tabs li {
	display: inline;
}

#login-form .nav-tabs li a {
	display: inline-block;
	border: 1px solid #ccc;
	background: #f5f5f5;
	margin-bottom: -1px;
	padding: 0 10px;
	line-height: 38px;
	width: 35%;
}

#login-form .cover-logo {
	display: block;
	margin: 0 auto;
	transform: translateX(-14px);
}

#login-form .nav-tabs li.active a {
	border-bottom-color: #f5f5f5;
}

.window #login-form .nav-tabs li a {
	background: #fff;
}

.window #login-form .nav-tabs li.active a {
	border-bottom-color: #fff;
}

button .fa {
	/*display: inline-block;*/
	margin-right: 4px;
	float: left;
}

/* Flowgallery photo stuff */
.photos:after {
	content: '';
	display: block;
	clear: both;
}

.photos .thumbnail {
	position: relative;
	float: left;
	display: block;
	width: 32%;
	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;

	transition: width 100ms;
}

.photos .thumbnail a {
	position: relative;
	display: inline-block;
}

.photos .thumbnail img {
	height: auto;
}

.photos .thumbnail .selection-checkbox {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 65px;
	margin: auto;
	z-index: 5;
}

.photos .description {
	display: block;
}

.photos .comments {
	display: block;
}

.photos .privacy-preference {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	z-index: 15;
	background: green;
}

.photos .privacy-hidden .privacy-preference {
	background: red;
}

.photos .privacy-preference > ul {
	z-index: 20;
}

.flow-gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

.photos .thumbnail {
	float: left;
	margin: 3px;
	overflow: hidden;
	position: relative;
	text-align: left;
}

.photos .thumbnail .selection-checkbox:checked + a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	border: 4px solid #c60c30;
}

.photos .thumbnail a {
	position: static;
	display: inline;
}

.photos .thumbnail img {
	width: auto;
	height: 100%;
	max-width: none;
	z-index: -1;
}

.photos .thumbnail a:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.photos .thumbnail .like-button {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 3;
}

.photos .thumbnail .description,
.photos .thumbnail .comments,
.photos .thumbnail .privacy {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	font-weight: normal;
	opacity: 0.8;
    z-index: 3;
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
}

.photos .thumbnail .description {
	font-weight: bold;
	opacity: 1.0;
}

.photos .thumbnail .privacy {
	font-style: italic;
} 

.photos .thumbnail .privacy + .comments,
.photos .thumbnail .privacy + .description,
.photos .thumbnail .comments + .description {
	bottom: 15px;
} 

.photos .thumbnail .privacy + .comments + .description  {
	bottom: 30px;
} 

.photos .thumbnail .selection-checkbox {
	top: 0;
	left: 0;
	margin: 5px;
	bottom: auto;
	right: auto;
}
